<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-panel">
      <header class="ui-panel-header">ABOUT US/关于国信通</header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item"><a href="/about">公司简介</a></li>
          <li class="ui-list-item"><a href="/about/aptitude">公司资质</a></li>
          <li class="ui-list-item"><a href="/about/culture">公司文化</a></li>
          <li class="ui-list-item active"><a href="/about/advantage">公司优势</a></li>
          <li class="ui-list-item"><a href="/about/history">发展历程</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <div class="ui-panel">
      <header class="ui-panel-header fn-clear">
        公司优势<span class="ui-more">您当前位置：<a href="/">国信通</a> &gt;&gt;
        <a href="/about">关于国信通</a> &gt;&gt;
        <a href="/about/advantage">公司优势</a></span>
      </header>
      <div class="ui-panel-body fn-clear">
        <img class="ui-panel-image" src="/public/images/default/about/advantage.jpg">
        <dl>
          <dt>立体供应链优势</dt>
          <dd>
            <em>招聘资源</em><br>
            <p>
              公司与深圳3大人才招聘市场深度合作，每日求职人数合计几千人次以上；另和深圳市及周边地区50多家人才市场建立了良好的合作关系。
            </p>
            <em>内地渠道资源</em><br>
            <p>
              集团在河南等十多个省市设有下属的招聘点和办事处，与内地十多个省市的300多所大中专职业院校和劳动人事单位建立了长期合作关系，真正实现“一地受理，全国联动”的服务。
            </p>
          </dd>
          <dt>增值服务</dt>
          <dd>
            <p>
              提供信息统计分析报表（如企业流失率数据、人员招聘来源数据分析、区域薪酬分析等）；<br>
              &emsp;&emsp;提供人才职业素质的测评和在职培训；
            </p>
          </dd>
          <dt>科学有效的管理优势</dt>
          <dd>
            <p>
              公司拥有100余人的成熟精英管理团队，其中包括专业的法律顾问、人力资源专家、人才招聘团队和员工关系处理团队，采用完整、科学的管理体系和规范的操作流程为客户提供从人力资源规划和配置、人才开发、人事管理、薪酬管理到人力资源政策咨询、员工关系管理、突发事件处理等一系列的人力资源服务。
            </p>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</section>
