<div class="ui-banner">
  <a class="ui-banner-prev"></a>
  <div class="ui-banner-center">
    <div class="ui-banner-center-offset">
      <ul class="ui-slider">
        <li><img src="/public/images/default/banner/index/banner-1.png"/></li>
        <li><img src="/public/images/default/banner/index/banner-2.jpg"/></li>
        <li><img src="/public/images/default/banner/index/banner-3.jpg"/></li>
        <li><img src="/public/images/default/banner/index/banner-4.jpg"/></li>
      </ul>
    </div>
  </div>
  <a class="ui-banner-next"></a>
</div>
