<footer>
  <div class="ui-copyright">
    公司地址：广东省深圳市南山区南山街道登良路南油第二工业区恒裕中心B209
  </div>
  <div class="ui-company-contact">
    <div class="ui-contact-information fn-clean-space">
      <div class="ui-contact-email">
        <p>E-MAIL</p>
        <p>gxtlw5d@163.com</p>
      </div>
      <div class="ui-contact-telephone">
        <p>TELEPHONE</p>
        <p>15560040555</p>
      </div>
    </div>
    <p>Copyright © 2016 深圳市国信通劳务派遣有限公司, All Rights Reserved. Designed by nuintun</p>
  </div>
</footer>
