<nav class="ui-site-nav fn-clean-space">
  <ul>
    <li class="active"><a title="网站首页" href="/">网站首页</a></li>
    <li>
      <a title="关于国信通" href="/about">关于国信通</a>
      <ul class="ui-site-sub-nav">
        <li><a href="/about">公司简介</a></li>
        <li><a href="/about/aptitude">公司资质</a></li>
        <li><a href="/about/culture">公司文化</a></li>
        <li><a href="/about/advantage">公司优势</a></li>
        <li><a href="/about/history">发展历程</a></li>
      </ul>
    </li>
    <li>
      <a title="新闻动态" href="/news">新闻动态</a>
      <ul class="ui-site-sub-nav">
        <li><a href="/news">公司新闻</a></li>
        <li><a href="/news/trade">行业新闻</a></li>
        <li><a href="/news/help">派遣知识</a></li>
        <li><a href="/news/policy">政策法规</a></li>
      </ul>
    </li>
    <li>
      <a title="主营业务" href="/business">主营业务</a>
      <ul class="ui-site-sub-nav">
        <li><a href="/business">劳务派遣</a></li>
        <li><a href="/business/proxy">人事代理</a></li>
        <li><a href="/business/outsource">生产外包</a></li>
        <li><a href="/business/temporary">假期招聘</a></li>
        <li><a href="/business/insurance">代缴社保</a></li>
      </ul>
    </li>
    <li><a title="招聘信息" href="/jobs">招聘信息</a></li>
    <li><a title="合作客户" href="/custom">合作客户</a></li>
    <li><a title="加盟合作" href="/cooperation">加盟合作</a></li>
    <li>
      <a title="联系我们" href="/contact">联系我们</a>
      <ul class="ui-site-sub-nav">
        <li><a href="/contact/society">社会招聘</a></li>
        <li><a href="/contact/school">校园招聘</a></li>
        <li><a href="/contact/comment">在线留言</a></li>
      </ul>
    </li>
  </ul>
</nav>
