<div class="ui-banner">
  <div class="ui-banner-center">
    <div class="ui-banner-center-offset">
      <ul class="ui-slider">
        <li><img src="/assets/images/default/banner/index/banner-1.png"/></li>
        <li><img src="/assets/images/default/banner/index/banner-2.jpg"/></li>
      </ul>
    </div>
  </div>
</div>
<div class="ui-marquee-content">
  <div class="ui-marquee">
    <img src="/assets/images/default/notice.jpg" alt="最新公告"/>
    <marquee> · 2015年安置寒假工16000余名，2016寒假工宣传已经全面启动，名企及高薪企业众多，愿2016我们再度携手，共创佳绩！</marquee>
  </div>
</div>
<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-panel">
      <header class="ui-panel-header">CONTACT US/联系我们</header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item"><a href="/statics/views/about/index.html">关于国信通</a></li>
          <li class="ui-list-item"><a href="/statics/views/news/index.html">国信通新闻</a></li>
          <li class="ui-list-item"><a href="/statics/views/business/index.html">主营业务</a></li>
          <li class="ui-list-item"><a href="/statics/views/recruitment/index.html">招聘信息</a></li>
          <li class="ui-list-item"><a href="/statics/views/customer/index.html">合作客户</a></li>
          <li class="ui-list-item"><a href="/statics/views/cooperation/index.html">加盟合作</a></li>
          <li class="ui-list-item"><a href="/statics/views/contact/comments/index.html">在线留言</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <section class="ui-panel">
      <header class="ui-panel-header">
        在线留言<span class="ui-more">您当前位置：<a href="/statics/views/index/index.html">国信通</a> &gt;&gt;
        <a href="/statics/views/contact/index.html">联系我们</a> &gt;&gt;<a href="/statics/views/contact/comments/index.html">在线留言</a></span>
      </header>
      <div class="ui-panel-body">
        <form class="ui-message"><!--此处还有相关属性没有设置-->
          <table>
            <tr>
              <td class="ui-table-left">你的姓名：</td>
              <td class="ui-table-right"><input type="text" class="ui-message-name" title="填写姓名" required="required"/> <span>*</span></td>
            </tr>
            <tr>
              <td class="ui-table-left">联系电话：</td>
              <td class="ui-table-right"><input type="text" class="ui-message-tel" title="填写联系电话" /></td>
            </tr>
            <tr>
              <td class="ui-table-left">E-mail：</td>
              <td class="ui-table-right"><input type="text" class="ui-message-email" title="输入邮箱" required="required"/> <span>*</span></td>
            </tr>
            <tr>
              <td class="ui-table-left">留言内容：</td>
              <td class="ui-table-right"><textarea class="ui-message-words" rows="5" cols="50" title="填写留言内容"></textarea> <span>*</span></td>
            </tr>
          </table>
          <input type="submit" class="ui-message-submit" value="确认提交" />
        </form>
      </div>
    </section>
  </div>
</section>
