@import "/public/css/default/modules/panel.css";
@import "/public/css/default/modules/slider.css";
@import "/public/css/default/modules/list.css";
@import "/public/css/default/modules/tabs.css";
@import "/public/css/default/modules/contentpage.css";
.ui-main-right .ui-panel-body {
  padding-top: 2.8em;
}
.ui-main-right .ui-list .ui-list-item span {
  float: right;
}
.ui-main-right .ui-list {
  -webkit-text-size-adjust: none;
  font-size: 0;
}
.ui-main-right .ui-list > .ui-list-item {
  display: inline-block;
  *display: inline; *zoom: 1;
  vertical-align: top;
  width: 170px;
  height: 100px;
  font-size: 13px;
  text-align: center;
  margin: 0 17px 2em;
}
.ui-main-right .ui-list > .ui-list-item > img {
  width: 160px;
  height: 60px;
}
