<div class="ui-banner">
  <div class="ui-banner-center">
    <div class="ui-banner-center-offset">
      <ul class="ui-slider">
        <li><img src="/assets/images/default/banner/index/banner-1.png"/></li>
        <li><img src="/assets/images/default/banner/index/banner-2.jpg"/></li>
      </ul>
    </div>
  </div>
</div>
<div class="ui-marquee-content">
  <div class="ui-marquee">
    <img src="/assets/images/default/notice.jpg" alt="最新公告"/>
    <marquee> · 2015年安置寒假工16000余名，2016寒假工宣传已经全面启动，名企及高薪企业众多，愿2016我们再度携手，共创佳绩！</marquee>
  </div>
</div>
<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-panel">
      <header class="ui-panel-header">ABOUT US/关于国信通</header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item"><a href="/statics/views/about/index.html">公司简介</a></li>
          <li class="ui-list-item"><a href="/statics/views/about/qualification/index.html">公司资质</a></li>
          <li class="ui-list-item"><a href="/statics/views/about/corporateCulture/index.html">公司文化</a></li>
          <li class="ui-list-item"><a href="/statics/views/about/advantage/index.html">公司优势</a></li>
          <li class="ui-list-item"><a href="/statics/views/about/developmentProcess/index.html">发展历程</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <div class="ui-panel">
      <header class="ui-panel-header">
        公司简介<span class="ui-more">您当前位置：<a href="/statics/views/index/index.html">国信通</a> &gt;&gt;
        <a href="/statics/views/about/index.html">关于国信通</a> &gt;&gt;
        <a href="/statics/views/about/developmentProcess/index.html">发展历程</a></span>
      </header>
      <div class="ui-panel-body">
        <span>2012年，从最初河南商丘梁园区政府职介机构成立</span><br />
        <span>2013年， 深圳市龙岗区职业介绍服务中心第一求职市场成立</span><br />
        <span>2014年，深圳南山区深圳市深南职业介绍所成立</span><br />
        <span>2015年11月，深圳市国信通劳务派遣公司正式成立</span><br />
        <span>2015年11月，河南省郑州办事处成立</span><br />
        <span>2015年11月，河南省郑州办事处成立</span><br />
        <span>2015年11月至今，各地各省、市办事处相继成立</span><br />
      </div>
    </div>
  </div>
</section>
