<div class="ui-banner">
  <div class="ui-banner-center">
    <div class="ui-banner-center-offset">
      <ul class="ui-slider">
        <li><img src="/assets/images/default/banner/index/banner-1.png"/></li>
        <li><img src="/assets/images/default/banner/index/banner-2.jpg"/></li>
      </ul>
    </div>
  </div>
</div>
<div class="ui-marquee-content">
  <div class="ui-marquee">
    <img src="/assets/images/default/notice.jpg" alt="最新公告"/>
    <marquee> · 2015年安置寒假工16000余名，2016寒假工宣传已经全面启动，名企及高薪企业众多，愿2016我们再度携手，共创佳绩！</marquee>
  </div>
</div>
<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-panel">
      <header class="ui-panel-header">ABOUT US/关于国信通</header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item"><a href="/statics/views/about/index.html">公司简介</a></li>
          <li class="ui-list-item"><a href="/statics/views/about/qualification/index.html">公司资质</a></li>
          <li class="ui-list-item"><a href="/statics/views/about/index.html">公司文化</a></li>
          <li class="ui-list-item"><a href="/statics/views/about/index.html">发展历程</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <div class="ui-panel">
      <header class="ui-panel-header">
        公司简介<span class="ui-more">您当前位置：<a href="/statics/views/index/index.html">国信通</a> >>
        <a href="/statics/views/about/index.html">关于国信通</a></span>
      </header>
      <div class="ui-panel-body">
        <p>深圳市嘉信劳务派遣有限公司成立于2010年5月份，从最初的河南省商丘市民权县颜集乡政府职介所（2000年成立）到现在的深圳市嘉信劳务派遣有限公司，再到昆山分公司的成立及河南各地办事处的相继成立，公司规模发展迅速。本公司是经劳动局、工商局批准注册的具有法人资格的合法劳务派遣有限公司，它是一家人力资源派遣、人力资源外包、劳务输出、业务介绍、就业指导、人才管理咨询代理为一体的人力资源公司，现公司也在积极拓展新兴业务，如人事代理、代缴保险、税务筹划、农民工大课堂等。</p>
        <br>
        <p>
          我公司经过十余年的不断发展和扩充，现与内地20多个省、市、劳动人事部门及全国3000多所大中专职业院校建立了良好的合作关系，公司主要运作于珠三角如东莞、深圳、惠州、广州，合作企业有伟创力、比亚迪、联想、长城国际、藤佳、昊阳天宇、普联、富港、大东骏通等；长三角如苏州、昆山、上海，合作知名企业有仁宝集团、瑞仪光电、达丰、华硕等，输送就业人员及寒假、暑假实习生达数万人。随着市场经济的发展和用工形式的日趋多样化，我公司设立了学生及农民工培训，并在人力培训输出管理化开创了择业学校+派遣培训+用工企业+跟踪管理的连勤模式。</p>
        <br>
        <p>
          我公司成立以来得到了各级政府部门、合作企业、职业院校的大力支持，正在快速稳健发展，已成为颇具实力的人力资源服务专业机构。同时公司拥有一批熟悉法律法规，人力资源管理行业的高素质专业化团队，我们将竭尽全力为客户提供优质的服务，以满足企业快速发展的需求。
        </p><br>
      </div>
    </div>
  </div>
</section>
