<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-panel">
      <header class="ui-panel-header">RECRUITMENT/招聘信息</header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item"><a href="/news">新闻动态</a></li>
          <li class="ui-list-item"><a href="/business">主营业务</a></li>
          <li class="ui-list-item active"><a href="/jobs">招聘信息</a></li>
          <li class="ui-list-item"><a href="/custom">合作客户</a></li>
          <li class="ui-list-item"><a href="/cooperation">加盟合作</a></li>
          <li class="ui-list-item"><a href="/contact">联系我们</a></li>
          <li class="ui-list-item"><a href="/about">关于国信通</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <section class="ui-panel">
      <header class="ui-panel-header fn-clear">
        招聘信息<span class="ui-more">您当前位置：<a href="/statics/apps/index/index.html">国信通</a> &gt;&gt;
        <a href="/jobs">招聘信息</a></span>
      </header>
      <div class="ui-panel-body">
        <article>
          <img class="ui-article-image" src="/public/images/default/jobs/job-12.png">
          <p class="ui-article-title">招聘简章</p><br>
          <p class="ui-article-para">比亚迪股份有限公司（以下简称“比亚迪”）创立于1995年，是一家香港上市的高新技术民营企业。比亚迪现拥有IT、汽车和新能源三大产业群。IT产品主要包括充电电池、液晶显示屏模组、塑胶机构件、金属零部件、键盘、柔性电路板、摄像头、充电器等产品以及手机设计、手机组装业务等。比亚迪主要客户为诺基亚、摩托罗拉、三星等国际通讯业顶端客户群体。公司现拥有员工约20万人，总面积将近1,500万平方米。2008年公司销售额268亿；2009年公司销售额达400亿。</p>
          <br>
          <p class="ui-article-para">比亚迪股份有限公司国内各工业园内都按统一规划建有标准生产厂房、员工宿舍、食堂、标准体育场、员工阅览中心等，设施齐全。</p><br>
          <p class="article-sub-title">一、招聘条件</p><br>
          <p class="ui-article-para">1、高中（含）以上学历；身高：女操作工150CM以上，男操作工160CM以上。</p><br>
          <p class="ui-article-para">2、本人正式、有效二代身份证原件，学历证明原件。</p><br>
          <p class="ui-article-para">3、身体健康，无传染性、精神类疾病、伤残；无不良嗜好、习气，无纹身、烟头烫伤；踏实勤奋、吃苦耐劳、态度端正者。</p><br>
          <p class="article-sub-title">二、工资及福利待遇</p><br>
          <p class="ui-article-para">1、基本工资1808元/月，公司实行5天工作制，每天正常工作8小时（8小时之外及周六、日上班计算加班），加班工资支付标准：加班费按劳动法平时1.5倍（15.59元/小时），周六、周日2倍（20.78元/小时），法定节假日3倍（31.17元/小时）。月平均收入4000—5000元左右。</p>
          <br>
          <p class="ui-article-para">2、提供免费住宿(6-12人/间、双卫、有空调、热水)，每月150元伙食补助；每月固定12-20号及25号-月末为学生充两次餐费；夜班人员另有夜宵补助。</p>
          <br>
          <p class="ui-article-para">3、公司办理养老、工伤、医疗保险；自愿加入医疗基金，享受医疗费用报销。</p><br>
          <p class="ui-article-para">4、除去正常的工资外，惠州地区每月另有100元/人的地区差异补助。</p><br>
          <p class="ui-article-para">5、丰富的内部竞聘和晋升的机会，体系化的职业生涯发展通道。</p><br>
          <p class="ui-article-para">6、公司的一切文体设施对所有员工免费开放，如标准塑胶跑道体育场、乒乓球羽毛球球室、篮球场。</p><br>
          <p class="ui-article-para">7、丰富多彩的各类社团面向全体员工，如齐飞文学社、羽毛球协会、英语协会、书法协会等。</p><br>
          <p class="ui-article-para">8、每周在员工大舞台免费放映两场电影；每逢节假日及厂庆日，公司将举办大型晚会、运动会、象棋比赛、卡拉OK大赛等活动；节假日各事业部发放礼物、奖品。</p><br>
          <p class="ui-article-para">9、工业园设置可容纳200人同时上网大型电脑体验室。</p><br>
          <p class="article-sub-title">三、应聘须备物品</p><br>
          <p class="ui-article-para">1、本人正式、有效二代身份证，毕业证或学历证明原件。2、笔1支。</p><br>
          <p class="article-sub-title">公司地址一：</p><br>
          <p class="ui-article-para">深圳市龙岗区宝坪路1号</p><br>
          <p class="article-sub-title">公司地址二：</p><br>
          <p class="ui-article-para">坪山新区比亚迪路3009号</p><br>
          <p class="article-sub-title">公司地址三：</p><br>
          <p class="ui-article-para">惠州市大亚湾区响水河比亚迪工业园</p><br>
        </article>
      </div>
    </section>
  </div>
</section>
