<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-panel">
      <header class="ui-panel-header">RECRUITMENT/招聘信息</header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item"><a href="/statics/apps/news/index.html">新闻动态</a></li>
          <li class="ui-list-item"><a href="/statics/apps/business/index.html">主营业务</a></li>
          <li class="ui-list-item active"><a href="/statics/apps/jobs/index.html">招聘信息</a></li>
          <li class="ui-list-item"><a href="/statics/apps/custom/index.html">合作客户</a></li>
          <li class="ui-list-item"><a href="/statics/apps/cooperation/index.html">加盟合作</a></li>
          <li class="ui-list-item"><a href="/statics/apps/contact/index.html">联系我们</a></li>
          <li class="ui-list-item"><a href="/statics/apps/about/index.html">关于国信通</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <section class="ui-panel">
      <header class="ui-panel-header fn-clear">
        招聘信息<span class="ui-more">您当前位置：<a href="/statics/apps/index/index.html">国信通</a> &gt;&gt;
        <a href="/statics/apps/jobs/index.html">招聘信息</a></span>
      </header>
      <div class="ui-panel-body">
        <article>
          <img class="ui-article-image" src="/public/images/default/jobs/job-04.jpg">
        </article>
      </div>
    </section>
  </div>
</section>
