<div class="ui-banner">
  <div class="ui-banner-center">
    <div class="ui-banner-center-offset">
      <ul class="ui-slider">
        <li><img src="/assets/images/default/banner/index/banner-1.png"/></li>
        <li><img src="/assets/images/default/banner/index/banner-2.jpg"/></li>
      </ul>
    </div>
  </div>
</div>
<div class="ui-marquee-content">
  <div class="ui-marquee">
    <img src="/assets/images/default/notice.jpg" alt="最新公告"/>
    <marquee> · 2015年安置寒假工16000余名，2016寒假工宣传已经全面启动，名企及高薪企业众多，愿2016我们再度携手，共创佳绩！</marquee>
  </div>
</div>
<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-tabs">
      <header class="ui-tabs-header fn-clear">
        <span class="ui-tabs-nav-list">
          <span class="ui-tabs-nav active">公司简介</span>
          <span class="ui-tabs-nav">公司动态</span>
        </span>
        <a href="/statics/views/about/index.html" class="ui-more">更多+</a>
      </header>
      <div class="ui-tabs-body">
        <img src="/assets/images/default/tabs-body.jpg"/>
        <p>
          深圳市国信通劳务派遣有限公司成立于2015年，从最初的河南省商丘市梁园区政府职介机构（2012年成立）到现在的深圳市国信通劳务派遣有限公司，再到各地的分公司和办事处相继成立。本公司是深圳市经劳动局、工商局批准的具有法人资格的合法劳务派遣公司。它是一家以劳务派遣为核心，及劳务外包、人事外包、产线外包、寒暑假招聘、代理招聘、劳动事务代理、员工后勤服务、员工培训（企业内训）、学生实习管理、劳动法律顾问、人力资源管理咨询等服务与一体的专业人力资源服务机构...<a href="/statics/views/about/index.html">[详细介绍]</a></p>
      </div>
    </section>
    <section class="ui-panel ui-middle-left">
      <header class="ui-panel-header fn-clear">
        行业新闻<a href="/statics/views/news/trade.html" class="ui-more">更多+</a>
      </header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item fn-clear">
            <a>【行业创新变革推动者】李天国：人力资源服务业创新需要</a><span>[02.25]</span>
          </li>
          <li class="ui-list-item fn-clear">
            <a>人力资源管理进入“变革”时代</a><span>[06.07]</span>
          </li>
          <li class="ui-list-item fn-clear">
            <a>社交网络时代的“众包式”招聘</a><span>[09.07]</span>
          </li>
        </ul>
      </div>
    </section>
    <section class="ui-panel ui-middle-right">
      <header class="ui-panel-header fn-clear">
        人才招聘<a href="/statics/views/jobs/index.html" class="ui-more">更多+</a>
      </header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item fn-clear"><a href="/statics/views/jobs/index.html">中山纬创</a><span>[08.16]</span>
          <li class="ui-list-item fn-clear"><a href="/statics/views/jobs/index.html">TP-LINK</a><span>[08.16]</span>
          <li class="ui-list-item fn-clear"><a href="/statics/views/jobs/index.html">深圳比亚迪股份有限公司</a><span>[08.16]</span>
          <li class="ui-list-item fn-clear"><a href="/statics/views/jobs/index.html">珠海伟创力招聘简章</a><span>[08.16]</span>
          <li class="ui-list-item fn-clear"><a href="/statics/views/jobs/index.html">华宝通讯（南京）有限公司招聘</a><span>[08.16]</span>
          <li class="ui-list-item fn-clear"><a href="/statics/views/jobs/index.html">比亚迪股份有限公司</a><span>[08.16]</span>
          <li class="ui-list-item fn-clear"><a href="/statics/views/jobs/index.html">大東-駿通（東莞）有限公司招聘简章</a><span>[08.16]</span>
          <li class="ui-list-item fn-clear"><a href="/statics/views/jobs/index.html">恩斯迈电子（深圳）有限公司</a><span>[08.16]</span>
          <li class="ui-list-item fn-clear"><a href="/statics/views/jobs/index.html">伟创力（东莞）工业园-电子厂招聘简章</a><span>[08.16]</span>
        </ul>
      </div>
    </section>
    <section class="ui-panel">
      <header class="ui-panel-header fn-clear">
        图片展示<a href="/statics/views/index/index.html" class="ui-more">更多+</a>
      </header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item">深圳市国信通劳务派遣有限公司</li>
          <li class="ui-list-item">深圳市国信通劳务派遣有限公司</li>
          <li class="ui-list-item">深圳市国信通劳务派遣有限公司</li>
          <li class="ui-list-item">深圳市国信通劳务派遣有限公司</li>
          <li class="ui-list-item">深圳市国信通劳务派遣有限公司</li>
          <li class="ui-list-item">深圳市国信通劳务派遣有限公司</li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <section class="ui-panel">
      <header class="ui-panel-header fn-clear">
        站内直通车<a href="/statics/views/index/index.html" class="ui-more">更多+</a>
      </header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item">
            <a href="/statics/views/contact/index.html"><img src="/assets/images/default/contact.jpg" alt="联系我们"/></a>
          </li>
          <li class="ui-list-item">
            <a href="/statics/views/contact/index.html"><img src="/assets/images/default/cooperation.jpg" alt="加盟合作"/></a>
          </li>
          <li class="ui-list-item">
            <a href="/statics/views/contact/index.html"><img src="/assets/images/default/recruitment.jpg" alt="加入我们"/></a>
          </li>
        </ul>
      </div>
    </section>
    <section class="ui-panel">
      <header class="ui-panel-header fn-clear">
        联系方式<a href="/statics/views/contact/index.html" class="ui-more">更多+</a>
      </header>
      <div class="ui-panel-body">
        <p>深圳市国信通劳务派遣有限公司</p><br>
        <p> 联系人： ***  手机：1563*******  1371*******</p><br>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;***  手机：1371*******</p><br>
        <p> 电  话： 0755-******</p><br>
        <p>传  真： 0755-******</p><br>
        <p>QQ号码： ******</p><br>
        <p>邮  箱： ******@163.com</p><br>
        <p>地  址： 深圳市******</p>
      </div>
    </section>
  </div>
  <div class="ui-main-bottom">
    <section class="ui-panel">
      <header class="ui-panel-header fn-clear">
        合作用户<a href="/statics/views/custom/index.html" class="ui-more">更多+</a>
      </header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item"><img src="/assets/images/default/custom/customer-01.jpg"/></li>
          <li class="ui-list-item"><img src="/assets/images/default/custom/customer-02.jpg"/></li>
          <li class="ui-list-item"><img src="/assets/images/default/custom/customer-03.jpg"/></li>
          <li class="ui-list-item"><img src="/assets/images/default/custom/customer-04.jpg"/></li>
          <li class="ui-list-item"><img src="/assets/images/default/custom/customer-05.gif"/></li>
          <li class="ui-list-item"><img src="/assets/images/default/custom/customer-06.gif"/></li>
        </ul>
      </div>
    </section>
  </div>
</section>
