<div class="ui-banner">
  <div class="ui-banner-center">
    <div class="ui-banner-center-offset">
      <ul class="ui-slider">
        <li><img src="/assets/images/default/banner/index/banner-1.png"/></li>
        <li><img src="/assets/images/default/banner/index/banner-2.jpg"/></li>
      </ul>
    </div>
  </div>
</div>
<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-tabs">
      <header class="ui-tabs-header">
        <span class="ui-tabs-nav-list">
          <span class="ui-tabs-nav active">公司新闻</span>
          <span class="ui-tabs-nav">行业新闻</span>
        </span>
        <a href="/statics/views/news/index.html" class="ui-more">更多+</a>
      </header>
      <div class="ui-tabs-body">
        <ul class="ui-list">
          <li class="ui-list-item">
            <a>网狐新手游“大众麻将”，一款真正属于大众的麻将游戏！</a>
          </li>
          <li class="ui-list-item">
            <a>网狐全新经典版COCOS2DX手机游戏大厅今起正式上线！</a>
          </li>
          <li class="ui-list-item">
            <a>网狐新游3D森林舞会：狮子王率众小伙伴，与你疯狂动物城！</a>
          </li>
          <li class="ui-list-item">
            <a>网狐4月新游发布：水浒传、豪车俱乐部等街机致敬青春!</a>
          </li>
          <li class="ui-list-item">
            <a>2015圣诞节，网狐“深海侏罗纪”重磅袭来！</a>
          </li>
          <li class="ui-list-item">
            <a>网狐2015岁末力作——摇钱树，源于街机创新玩法!</a>
          </li>
          <li class="ui-list-item">
            <a>网狐金秋感恩巨献新捕鱼游戏：李逵劈鱼！</a>
          </li>
          <li class="ui-list-item">
            <a>秋高气爽九月天，网狐一起放飞心情！</a>
          </li>
          <li class="ui-list-item">
            <a>网狐首款COCOS2D手游产品：《人鱼奇缘》与您相约！</a>
          </li>
          <li class="ui-list-item">
            <a>2016 ChinaJoy：竞技为调，棋牌游戏谱写华丽篇章！</a>
          </li>
          <li class="ui-list-item">
            <a>百度发布网络棋牌类游戏开户新规，严肃棋牌游戏市场环境！</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="ui-panel">
      <header class="ui-panel-header">
        人才招聘<a href="/statics/views/recruitment/index.html" class="ui-more">更多+</a>
      </header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item">
            <a>网狐新手游“大众麻将”，一款真正属于大众的麻将游戏！</a>
          </li>
          <li class="ui-list-item">
            <a>网狐全新经典版COCOS2DX手机游戏大厅今起正式上线！</a>
          </li>
          <li class="ui-list-item">
            <a>网狐新游3D森林舞会：狮子王率众小伙伴，与你疯狂动物城！</a>
          </li>
          <li class="ui-list-item">
            <a>网狐4月新游发布：水浒传、豪车俱乐部等街机致敬青春!</a>
          </li>
          <li class="ui-list-item">
            <a>2015圣诞节，网狐“深海侏罗纪”重磅袭来！</a>
          </li>
          <li class="ui-list-item">
            <a>网狐2015岁末力作——摇钱树，源于街机创新玩法!</a>
          </li>
          <li class="ui-list-item">
            <a>网狐金秋感恩巨献新捕鱼游戏：李逵劈鱼！</a>
          </li>
          <li class="ui-list-item">
            <a>秋高气爽九月天，网狐一起放飞心情！</a>
          </li>
          <li class="ui-list-item">
            <a>网狐首款COCOS2D手游产品：《人鱼奇缘》与您相约！</a>
          </li>
          <li class="ui-list-item">
            <a>2016 ChinaJoy：竞技为调，棋牌游戏谱写华丽篇章！</a>
          </li>
          <li class="ui-list-item">
            <a>百度发布网络棋牌类游戏开户新规，严肃棋牌游戏市场环境！</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <section class="ui-panel">
      <header class="ui-panel-header">
        公司简介<a href="/statics/views/about/index.html" class="ui-more">更多+</a>
      </header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item">深圳市嘉信劳务派遣有限公司</li>
          <li class="ui-list-item">深圳市嘉信劳务派遣有限公司</li>
          <li class="ui-list-item">深圳市嘉信劳务派遣有限公司</li>
          <li class="ui-list-item">深圳市嘉信劳务派遣有限公司</li>
          <li class="ui-list-item">深圳市嘉信劳务派遣有限公司</li>
          <li class="ui-list-item">深圳市嘉信劳务派遣有限公司</li>
        </ul>
      </div>
    </section>
    <section class="ui-panel">
      <header class="ui-panel-header">
        联系方式<a href="/statics/views/contact/index.html" class="ui-more">更多+</a>
      </header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item">深圳市嘉信劳务派遣有限公司</li>
          <li class="ui-list-item">深圳市嘉信劳务派遣有限公司</li>
          <li class="ui-list-item">深圳市嘉信劳务派遣有限公司</li>
          <li class="ui-list-item">深圳市嘉信劳务派遣有限公司</li>
          <li class="ui-list-item">深圳市嘉信劳务派遣有限公司</li>
          <li class="ui-list-item">深圳市嘉信劳务派遣有限公司</li>
        </ul>
      </div>
    </section>
  </div>
</section>
