@import "/Assets/css/default/modules/panel.css";
@import "/Assets/css/default/modules/slider.css";
@import "/Assets/css/default/modules/list.css";
@import "/Assets/css/default/modules/tabs.css";
.ui-main {
  font-size: 0;
  -webkit-text-size-adjust: none;
}
.ui-main-left,
.ui-main-right {
  font-size: 12px;
  display: inline-block;
  *display: inline; *zoom: 1;
  vertical-align: top;
  margin: 10px 0;
}
.ui-main-left {
  width: 320px;
}
.ui-main-right {
  margin-left: 10px;
  width: 870px;
}
.ui-banner {
  width: 100%;
  height: 470px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.ui-banner-center {
  position: absolute;
  left: 50%; height: 470px;
}
.ui-banner-center-offset {
  width: 1920px;
  height: 100%;
  position: relative;
  top: 0; left: -50%;
  overflow: hidden;
}
.ui-slider > li {
  width: 1920px;
}
.ui-panel-body p {
  text-indent: 2em;
}
.ui-main-left .ui-list .ui-list-item {
  background: url(/Assets/images/default/ico-01.png) no-repeat 0 center;
  overflow: hidden;
}
.ui-main-left .ui-list .ui-list-item a {
  margin-left: 1.3em;
}
.ui-main-right .ui-list .ui-list-item span {
  float: right;
}
.ui-main-right .ui-panel-body > dl > dt{
  font-weight: bold;
}
