@import "/Assets/css/default/modules/panel.css";
@import "/Assets/css/default/modules/slider.css";
@import "/Assets/css/default/modules/list.css";
@import "/Assets/css/default/modules/tabs.css";
@import "/Assets/css/default/modules/pagelist.css";
@import "/Assets/css/default/modules/contentpage.css";
.ui-main-right .ui-panel-body {
  padding-top: 2.8em;
  text-align: center;
}
.ui-main-right .ui-list {
  -webkit-text-size-adjust: none;
  font-size: 0;
}
.ui-main-right .ui-list > .ui-list-item {
  display: inline-block;
  vertical-align: top;
  width: 215px;
  height: 140px;
  font-size: 13px;
  text-align: center;
  margin: 0 17px 2em;
  overflow: hidden;
}
.ui-main-right .ui-list > .ui-list-item > img {
  width: 200px;
  height: 100px;
  border: 1px solid #ccc;
  padding: 5px;
}
