@import "/public/css/default/modules/panel.css";
@import "/public/css/default/modules/slider.css";
@import "/public/css/default/modules/list.css";
@import "/public/css/default/modules/tabs.css";
@import "/public/css/default/modules/contentpage.css";
@import "/public/css/default/modules/pagination.css";
.ui-main-right .ui-list {
  text-align: center;
}
.ui-main-right .ui-list > .ui-list-item {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  margin-top: 2em;
  overflow: hidden;
}
.ui-main-right .ui-list > .ui-list-item:first-child {
  margin-top: 0;
}
.ui-main-right .ui-list > .ui-list-item > img {
  max-width: 823px;
  border: 1px solid #ccc;
  padding: 5px;
}
