@import "/public/css/default/modules/panel.css";
@import "/public/css/default/modules/slider.css";
@import "/public/css/default/modules/list.css";
@import "/public/css/default/modules/tabs.css";
@import "/public/css/default/modules/contentpage.css";
.ui-main-right .ui-panel-body span {
  line-height: 2em;
}
.ui-main-right .ui-panel-body img {
  float: right;
  max-width: 835px;
}
