<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-panel">
      <header class="ui-panel-header">RECRUITMENT/招聘信息</header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item"><a href="/Statics/views/news/index.html">公司新闻</a></li>
          <li class="ui-list-item"><a href="/Statics/views/business/index.html">主营业务</a></li>
          <li class="ui-list-item active"><a href="/Statics/views/jobs/index.html">招聘信息</a></li>
          <li class="ui-list-item"><a href="/Statics/views/custom/index.html">合作客户</a></li>
          <li class="ui-list-item"><a href="/Statics/views/cooperation/index.html">加盟合作</a></li>
          <li class="ui-list-item"><a href="/Statics/views/contact/index.html">联系我们</a></li>
          <li class="ui-list-item"><a href="/Statics/views/about/index.html">关于国信通</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <section class="ui-panel">
      <header class="ui-panel-header fn-clear">
        招聘信息<span class="ui-more">您当前位置：<a href="/Statics/views/index/index.html">国信通</a> &gt;&gt;
        <a href="/Statics/views/jobs/index.html">招聘信息</a></span>
      </header>
      <div class="ui-panel-body">
        <article>
          <p class="ui-article-title">深圳创维集团招聘简章</p><br>
          <p class="ui-article-para">创维集团是以香港创维数码控股有限公司为龙头，跨越粤港两地，生产消费类电子的大型高科技上市公司，是中国三大彩电龙头企业之一。创维成立于1988年，总部坐落在具有创新“硅谷”之称的深圳高新技术产业园，拥有3万多名员工。创维立足中国，面向全球，是以研发制造消费类电子、显示器件、数字机顶盒、安防监视器、网络通讯、半导体、冰洗、3C数码、LED照明等产品为主要产业的大型高科技集团公司，2000年在香港主板上市（HK00751）。经过25年发展，创维已跻身世界十大彩电品牌、中国显示行业领导品牌和中国电子百强第十四位，2012年创维品牌价值达352.95亿元。创维坚持“核心产业做强，相关产业做大”战略，以香港创维数码控股有限公司为龙头，旗下设深圳创维-RGB电子公司、海外发展公司、数字技术公司、群欣安防科技公司、液晶器件公司等十多家产业公司。拥有成都、南京、宜春三大物流中心；深圳石岩、深圳龙岗、深圳公明、广州、南京、内蒙古呼和浩特等生产基地；香港、深圳、北京、广州、南京等科研机构。国内彩电、数字机顶盒、安防监视器市场占有率，LCD市场占有率，彩电行业持续盈利，年发明专利数量等六项行业第一。创维数字技术公司为中国最大机顶盒企业，年销量超一千万台，居国内业务第一，全球第五。创维的远景目标是成为中国数码显示产业的 NO.1 ，创中国籍的世界名牌！</p><br>
          <p class="ui-article-para">欢迎各界有志之士加入创维集团！</p><br>
          <p class="article-sub-title">招聘岗位：</p><br>
          <p class="ui-article-para">一线员工</p><br>
          <p class="article-sub-title">招聘要求：</p><br>
          <p class="ui-article-para">1、16-24周岁,持有本人第二代正式有效身份证，男女比例1：1，高中、中专学历;</p><br>
          <p class="ui-article-para">2、女155cm以上；男165cm以上；</p><br>
          <p class="ui-article-para">3、身体健康，非色盲，无听力障碍，无国家规定的传染性疾病或精神疾病；</p><br>
          <p class="ui-article-para">4、能吃苦耐劳、愿意配合公司加班。</p><br>
          <p class="article-sub-title">工资及奖金待遇：</p><br>
          <p class="ui-article-para">(包吃包住）</p><br>
          <p class="ui-article-para">公司实行每周五天、每天八小时的工作制。</p><br>
          <p class="ui-article-para">基本工资（正常工作时间的工资）    1808元/月</p><br>
          <p class="ui-article-para">平时加班工资     15.59元/小时       150％的工资报酬</p><br>
          <p class="ui-article-para">休息日加班工资   20.78元/小时       200％的工资报酬</p><br>
          <p class="ui-article-para">法定假日加班工资 31.17元/小时       300％的工资报酬</p><br>
          <p class="ui-article-para">夜班补贴：5元/天；岗位津贴：0-300元；月度奖金：按当月生产情况发放月度奖金（产能奖）(100~160元/月)；</p><br>
          <p class="ui-article-para">年终双薪：年底多发1个月工资。工作不满一年按实际服务月份比例发放；年底效益奖：根据当年效益，发放1~2个月左右工资的奖励，或者更高。</p><br>
          <p class="ui-article-para">月综合工资在4000—5000元之间，次月十日准时发放上月工资。</p><br>
          <p class="article-sub-title">其他福利待遇：</p><br>
          <p class="ui-article-para">1、工作环境：独立工业园（宿舍、食堂、超市、邮局、餐厅、网吧、运动场等都在园内，生活便利），室内空调环境，恒温恒湿（温度范围：22~26摄氏度间）；</p><br>
          <p class="ui-article-para">2、员工食宿：员工刷卡就餐， 公司配备四栋员工宿舍，6—8人/间，有独立的洗手间/冲凉房(有热水提供)和洗衣阳台，中央空调等新设备；</p><br>
          <p class="ui-article-para">3、社会保险：公司依照国家规定与员工签订劳动合同，为每一位员工缴纳办理工伤/医疗/养老社会保险；</p><br>
          <p class="ui-article-para">4、娱乐设施：花园式厂区内设有福利社、图书室、标准篮球场、乒乓球室/羽毛球场等娱乐运动场所；</p><br>
          <p class="ui-article-para">5、活动组织：设有福委会/工会/歌唱舞蹈社团等组织,员工可以选择加入个人喜欢的社团，每月定期举办员工生日晚会，不定期举办各种文体活动，春节举办全体员工联欢晚会，并进行摸彩抽奖活动；全体员工每年组织一次旅游活动；</p><br>
          <p class="ui-article-para">6、休假/年终奖金：休假按国家规定执行，返乡依生产需求调整.需配合公司弹性调整休假。</p><br>
          <p class="article-sub-title">公司地址：</p><br>
          <p class="ui-article-para">深圳市石岩镇塘头1号路</p><br>
        </article>
      </div>
    </section>
  </div>
</section>
