<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-panel">
      <header class="ui-panel-header">RECRUITMENT/招聘信息</header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item"><a href="/Statics/views/news/index.html">公司新闻</a></li>
          <li class="ui-list-item"><a href="/Statics/views/business/index.html">主营业务</a></li>
          <li class="ui-list-item active"><a href="/Statics/views/jobs/index.html">招聘信息</a></li>
          <li class="ui-list-item"><a href="/Statics/views/custom/index.html">合作客户</a></li>
          <li class="ui-list-item"><a href="/Statics/views/cooperation/index.html">加盟合作</a></li>
          <li class="ui-list-item"><a href="/Statics/views/contact/index.html">联系我们</a></li>
          <li class="ui-list-item"><a href="/Statics/views/about/index.html">关于国信通</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <section class="ui-panel">
      <header class="ui-panel-header fn-clear">
        招聘信息<span class="ui-more">您当前位置：<a href="/Statics/views/index/index.html">国信通</a> &gt;&gt;
        <a href="/Statics/views/jobs/index.html">招聘信息</a></span>
      </header>
      <div class="ui-panel-body">
        <article>
          <img class="ui-article-image" src="/Assets/images/default/jobs/job-09.png">
          <p class="article-sub-title">公司简介：</p><br>
          <p class="ui-article-para">*为仁宝集团之手机专业制造商，已在国内无线通信产业创下众多NO.1记录；</p><br>
          <p class="ui-article-para">*台湾独资企业，是一家代工手机生产商，总投资2,950万美元,注册资金2,200万美元。</p><br>
          <p class="ui-article-para">*全球科技100强企业，台湾企业排名第三名，目前南京厂区共有20,000多名员工。</p><br>
          <img class="ui-article-image" src="/Assets/images/default/jobs/job-10.png">
          <p class="article-sub-title">薪资待遇：</p><br>
          <p class="ui-article-para">（每月综合所得工资3600—4700元）</p><br>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>在职满1个月</th>
                <th>在职满2个月</th>
                <th>在职满3个月</th>
                <th>在职满6个月</th>
                <th>在职满9个月</th>
                <th>在职满12个月</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>基本薪资</td>
                <td>1850</td>
                <td>1850</td>
                <td>1850</td>
                <td>1850</td>
                <td>1850</td>
                <td>1850</td>
              </tr>
              <tr>
                <td>餐费补助</td>
                <td>260</td>
                <td>260</td>
                <td>260</td>
                <td>260</td>
                <td>260</td>
                <td>260</td>
              </tr>
              <tr>
                <td>年资津贴</td>
                <td>0</td>
                <td>0</td>
                <td>50</td>
                <td>100</td>
                <td>150</td>
                <td>200</td>
              </tr>
              <tr>
                <td>久任奖金</td>
                <td>0</td>
                <td>250</td>
                <td>375</td>
                <td>500</td>
                <td>500</td>
                <td>500</td>
              </tr>
            </tbody>
          </table>
          <p class="ui-article-para"><strong>环境津贴：</strong>无尘室,每月加给       300元</p><br>
          <p class="ui-article-para"><strong>岗位津贴：</strong>关键岗位，每月加给    300元</p><br>
          <p class="ui-article-para"><strong>领班/预备员：</strong>每月加给(S3~S5)      600元</p><br>
          <p class="ui-article-para"><strong>万能工/物料/预备员：</strong>每月加给(S2)   400元</p><br>
          <p class="ui-article-para"><strong>其他说明：</strong></p><br>
          <p class="ui-article-para">*加班工资：加班基数1,850元,平时15.9元/小时;周末21.2元/小时;国假31.8元/小时。</p><br>
          <p class="ui-article-para">*夜班津贴:员工上夜班时加发津贴8元/天。</p><br>
          <p class="ui-article-para">*住宿条件：公共卫浴设施、空调、免费热水供应；水电费超标部分自付并由当月薪资扣除。</p><br>
          <p class="article-sub-title">招募岗位：</p><br>
          <p class="ui-article-para">生产线技能工</p><br>
          <p class="article-sub-title">招募要求：</p><br>
          <p class="ui-article-para">1、年龄：须年满16周岁以上，裸眼视力0.8以上；</p><br>
          <p class="ui-article-para">2、身高：男1.65m以上，女1.50m以上；</p><br>
          <p class="ui-article-para">3、学历：初中/中专/职高/技校毕业及以上学历；</p><br>
          <p class="ui-article-para">4、具备条件：身体健康、无法规律规定之不适合工作的传染性疾病、能吃苦耐劳、作风正派、手指灵巧、反应灵敏、抗压力强。</p><br>
          <p class="article-sub-title">所需证件及资料：</p><br>
          <p class="ui-article-para">1、有效二代身份证原件及身份证复印件4分（必备资料）；</p><br>
          <p class="ui-article-para">2、近期免冠1寸照片4张、水笔、笔记本，第一个月个人零用金&入职体验费；</p><br>
          <p class="article-sub-title">公司地址：</p><br>
          <p class="ui-article-para">江苏南京市出口加工区南区苏源大道68-2号</p><br>
        </article>
      </div>
    </section>
  </div>
</section>
