.ui-panel {
  font-size: 13px;
  background-color: #fff;
  overflow: hidden;
}
.ui-panel-header {
  color: #fff;
  padding: 0 1.26em 0;
  height: 3.1em;
  line-height: 3.1em;
  background-color: #1952a3;
  overflow: hidden;
}
.ui-panel-header .ui-more {
  float: right;
  color: #fff;
}
.ui-panel-header .ui-more a {
  color: #fff;
}
.ui-panel-body {
  padding: 1.26em;
  border: 1px solid #1952a3;
  border-top: none;
  overflow: hidden;
}
