.ui-main-right .ui-list .ui-list-item span {
  float: right;
}
.ui-main-right .ui-list .ui-list-item {
  border-bottom: 1px dashed #ccc;
  line-height: 2.6;
}
.ui-main-right .ui-list .ui-list-item a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
