.ui-main-right .ui-list .ui-list-item span {
  float: right;
}
.ui-main-right .ui-list .ui-list-item {
  line-height: 2.6;
  border-top: 1px dashed #ccc;
}
.ui-main-right .ui-list .ui-list-item:first-child {
  border-top: none 0;
}
.ui-main-right .ui-list .ui-list-item a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
