/*
@font-face {
  font-family: 'icomoon';
  src: url('/public/fonts/icomoon.eot?ga87g7');
  src: url('/public/fonts/icomoon.eot?ga87g7#iefix') format('embedded-opentype'),
  url('/public/fonts/icomoon.ttf?ga87g7') format('truetype'),
  url('/public/fonts/icomoon.woff?ga87g7') format('woff'),
  url('/public/fonts/icomoon.svg?ga87g7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  !* use !important to prevent issues with browser extensions that change fonts *!
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  !* Better Font Rendering =========== *!
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-void-content:before {
  content: "\e900";
  margin-right: .5em;
  font-size: 16px;
}*/
.ui-main-right .ui-panel .ui-panel-body > p {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  text-align: center;
  padding-top: 150px;
}
.ui-main-right .ui-panel-body > p {
  background: url(/public/images/default/empty.png) no-repeat center top;
}
