<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-panel">
      <header class="ui-panel-header">NEWS/新闻动态</header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item"><a href="/Statics/views/news/index.html">公司新闻</a></li>
          <li class="ui-list-item"><a href="/Statics/views/news/trade.html">行业新闻</a></li>
          <li class="ui-list-item"><a href="/Statics/views/news/help.html">派遣知识</a></li>
          <li class="ui-list-item active"><a href="/Statics/views/news/policy.html">政策法规</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <section class="ui-panel">
      <header class="ui-panel-header fn-clear">
        公司新闻<span class="ui-more">您当前位置：<a href="/Statics/views/index/index.html">国信通</a> &gt;&gt;
        <a href="/Statics/views/news/index.html">新闻动态</a>&gt;&gt;
        <a href="/Statics/views/news/trade.html">政策法规</a></span>
      </header>
      <div class="ui-panel-body">
        <article>
          <h2 class="ui-article-title">劳务派遣中的连带责任如何界定？</h2>
          <div class="ui-article-time">
            <small><span>2012-11-1</span>&emsp;来源：<span>互联网</span>&emsp;点击<span>6</span>次</small>
          </div>
          <p class="ui-article-para">2007年，某劳务派遣公司将几名劳动者派遣到某学校从事后勤工作，工资及保险费由学校交劳务派遣公司支付和缴纳，同时，学校向劳务派遣公司支付每人每月50元的管理费。劳动合同与劳务派遣协议都是两年一签，且期限相同。</p><br>
          <p class="ui-article-para">2009年2月，两个合同均到期。在此之前，学校曾表示无法明确是否续签及续签多久，但仍将继续用工一段时间，劳务派遣公司与劳动者均未提出异议。因此合同到期后，这几名劳动者仍在该校工作。直到今年6月，学校后勤表示将退工，并告知劳动者和劳务派遣公司，劳务公司开出了退工通知单。</p><br>
          <p class="ui-article-para">于是，几名劳动者要求支付经济补偿金，以及3月—6月没有签订劳动合同的双倍工资，并将劳务派遣公司与学校一起列为被申诉人，诉诸劳动争议仲裁。学校方表示愿意承担经济补偿金责任，但没有签订劳动合同是由劳务派遣公司造成的，因此，双倍工资应当由派遣公司来承担。劳务派遣公司则认为自己只是按照学校的要求来管理，没有续签劳动合同也是由于学校责任所导致，因此，应当由学校来承担全部责任。三方就责任的承担引起了争议。</p><br>
          <p class="article-sub-title">问题：</p><br>
          <p class="ui-article-para">您认为该项纠纷的赔偿责任如何界定？依据是什么？</p><br>
          <p class="article-sub-title">专家点评：</p><br>
          <p class="ui-article-para">1、这是一起典型的因劳务派遣用工引起的劳动争议案件。在劳务派遣中，劳务派遣公司应当承担用人单位的权利义务，包括与派遣员工签订劳动合同，没有签订劳动合同的，应当支付双倍的工资。学校作为用工单位应当按照《劳动合同法》的规定或劳务派遣协议的约定方式履行退工手续，需要支付经济补偿的应当支付。本案中，因为学校的原因导致没能与派遣公司续订劳务派遣协议，而派遣公司以没有签订劳务派遣协议为由，没能与派遣员工签订劳动合同，从法律上讲，学校应当属于违约行为，而派遣公司则属于违法行为，违法行为理应承担法律责任。</p><br>
          <p class="ui-article-para">2、但是，由于派遣用工的特殊性，《劳动合同法》第92条规定，派遣单位违法，给派遣劳动者造成损害的，劳务派遣单位与用工单位承担连带赔偿责任。同样，《劳动合同法实施条例》第35条规定，因用工单位违法而给被派遣劳动者造成损失的，劳务派遣单位和用工单位承担连带赔偿责任。因此无论是派遣单位违法，还是用工单位违法，都应当对劳务派遣员工承担连带赔偿责任。</p><br>
          <p class="ui-article-para">3、这里的连带责任应当理解为完全连带责任，而非部分连带责任。完全连带责任指的是劳务派遣公司或用工单位都应当独立对派遣劳动者承担所有的赔偿责任，无论是由哪方违法导致劳动者受损害。即使被派遣劳动者只起诉一方，依据《最高人民法院关于审理劳动争议适用法律若干问题的解释（二）》第十条规定：劳动者因履行劳动力派遣合同产生劳动争议而起诉，以派遣单位为被告；争议内容涉及接受单位的，以派遣单位和接受单位为共同被告。即在劳务派遣争议中，法院是有权利直接追加另一方为被告的。</p><br>
          <p class="ui-article-para">4、在完全连带责任的前提下，仲裁员或法官在审理此类劳动争议时，只审查派遣方和用工方是否给派遣员工造成了损害，是否应当依法对派遣员工承担法律责任，若成立，那么就会裁决或判决向派遣员工承担的具体责任内容。具体到本案中，仲裁委员会就应当裁决向派遣员工支付经济补偿金和双倍工资。裁决生效以后，派遣员工可以向派遣公司主张这两项经济赔偿，也可以向学校主张。在双方都不支付的情形下，派遣员工可以选择向法院申请强制执行任何一家赔偿。若法院执行派遣公司赔偿，且派遣公司的钱不够，那么派遣员工还可以就差额申请强制执行学校支付。在派遣员工经济补偿金和双倍工资执行完毕的前提下，派遣公司和学校可以根据双方的派遣协议来确定究竟是哪一方的责任，以便向真正有责任的一方追偿。</p><br>
        </article>
      </div>
    </section>
  </div>
</section>
