
<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-panel">
      <header class="ui-panel-header">NEWS/新闻动态</header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item"><a href="/Statics/views/news/index.html">公司新闻</a></li>
          <li class="ui-list-item"><a href="/Statics/views/news/trade.html">行业新闻</a></li>
          <li class="ui-list-item"><a href="/Statics/views/news/help.html">派遣知识</a></li>
          <li class="ui-list-item active"><a href="/Statics/views/news/policy.html">政策法规</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <section class="ui-panel">
      <header class="ui-panel-header fn-clear">
        公司新闻<span class="ui-more">您当前位置：<a href="/Statics/views/index/index.html">国信通</a> &gt;&gt;
        <a href="/Statics/views/news/index.html">新闻动态</a>&gt;&gt;
        <a href="/Statics/views/news/trade.html">政策法规</a></span>
      </header>
      <div class="ui-panel-body">
        <article>
          <h2 class="ui-article-title">养老保险转移与农民工参保办法即将出台</h2>
          <div class="ui-article-time">
            <small><span>2012-11-01</span>&emsp;来源：<span>互联网</span>&emsp;点击<span>6</span>次</small>
          </div>
          <p class="article-sub-title">以缓解目前跨地区养老保险转移接续难问题</p><br>
          <p class="ui-article-para">人力资源和社会保障部副部长胡晓义28日表示，从总体上看，现在经济增长和就业呈现良性互动。另外，他还介绍，《养老保险关系转移接续办法》和《农民工参加基本养老保险办法》将在四季度出台。</p><br>
          <p class="ui-article-para">在国庆新闻中心举行的新闻发布会上，胡晓义表示，去年年底以来，由于受国际金融危机的影响，确实对我国的就业形成严重冲击，在一段时间曾经出现就业增量减少、岗位流失情况加剧现象。但这种情况已从第二季度以来发生改变。现在总体来讲，就业形势从可见的指标上，已大体恢复正常。</p><br>
          <p class="ui-article-para">胡晓义表示，现在，越来越多的地方政府在经济建设项目上，都在考虑对就业的带动效应，而不仅仅看对GDP的贡献。特别是不久前，国务院也制定了进一步促进中小企业发展的文件。中小企业和民营经济加快发展，对带动就业会有更直接、更明显的效应。所以，我国就业和经济增长经过努力是可以实现同步的。如果有局部和阶段性的不同步问题，也会发现并且纠正它。  </p><br>
          <p class="ui-article-para">胡晓义表示，《养老保险关系转移接续办法》和《农民工参加基本养老保险办法》将在四季度出台，以缓解目前跨地区养老保险转移接续难问题。这两个《办法》主要内容反映在三方面：第一，通过降低农民工参加养老保险缴费比例来使更多农民工有能力参加养老保险；第二，通过对每一个参保人的权益和个人账户的记录以及跨地区的资金转移来保证他们权益的延续和累积；第三，设计了与新型农村养老保险的政策衔接，即使回到农村去的农民工，他们的权益也可以继续得到保障。</p><br>
        </article>
      </div>
    </section>
  </div>
</section>
