<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-panel">
      <header class="ui-panel-header">NEWS/新闻动态</header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item"><a href="/Statics/views/news/index.html">国信通新闻</a></li>
          <li class="ui-list-item active"><a href="/Statics/views/news/trade.html">行业新闻</a></li>
          <li class="ui-list-item"><a href="/Statics/views/news/help.html">派遣知识</a></li>
          <li class="ui-list-item"><a href="/Statics/views/news/policy.html">政策法规</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <section class="ui-panel">
      <header class="ui-panel-header fn-clear">
        公司新闻<span class="ui-more">您当前位置：<a href="/Statics/views/index/index.html">国信通</a> &gt;&gt;
        <a href="/Statics/views/news/index.html">新闻动态</a>&gt;&gt;
        <a href="/Statics/views/news/trade.html">行业新闻</a></span>
      </header>
      <div class="ui-panel-body">
        <article>
          <h2 class="ui-article-title">魏建国：未来十年中国将成全球第一大服务外包市场</h2>
          <div class="ui-article-time">
            <small><span>2015-12-14</span>&emsp;来源：<span>互联网</span>&emsp;点击<span>6</span>次</small>
          </div>
          <img class="ui-article-image" src="/Assets/images/default/news/20151214111740585.jpg">
          <p class="ui-article-title">全球服务外包大会主席、中国国际经济交流中心副理事长、商务部原副部长魏建国</p><br>
          <p class="article-sub-title">服务外包迎来最好发展时机</p><br>
          <p class="ui-article-para">当前是中国发展服务外包的最好时机。</p><br>
          <p class="ui-article-para">第一，全球看重中国服务外包市场。上个月，我在人民大会堂陪同习近平主席接见中美对话的美方企业家。我问IBM首席执行官，当前IBM最看重的市场是什么？他说是中国。在跟NEC总裁进行对话时，他说日本会将更多的服务外包业务交给中国市场。当然，我也跟德国、法国，包括韩国三星等大企业交流。他们一致看好中国的服务外包市场。我认为，中国在未来的五年到十年内，将会成为全球第一大服务外包市场。</p><br>
          <p class="ui-article-para">第二，中国机遇是中国现有的经济转型带来的。我们从统计数字来看，今年1到10月份，我们的服务外包整体已经签约967.5亿美金，接近1千亿，同比增长18.2%，远远高于我们的GDP增长。在967.5亿美金里面实际执行的是698.8亿美元，同比增长14.2%。更加可观的是1-10月，受益于我们的服务外包政策，中国新增长4979家服务外包企业。</p><br>
          <p class="ui-article-para">但是，我要非常遗憾地告诉大家，东部的增长远不如中西部地区的增长。也就是说，这次增长主要突出表现在河北、河南、陕西、山西和甘肃省这一带。这主要是凭借承东启西的区位优势，他们把握住了服务外包产业转移从一线城市向二三城市转移的机遇。</p><br>
          <p class="ui-article-para">在规模稳步扩大的同时，服务外包的业务结构也明显优化，我们服务外包业务增长已经从普通的IT及商务流程进入到工业设计、工程设计、检验检疫还有的医疗卫生、生物制药等为主的知识流程外包。</p><br>
          <img class="ui-article-image" src="/Assets/images/default/news/20151214111802369.jpg">
          <p class="article-sub-title">服务外包未来的发展方向</p><br>
          <p class="ui-article-para">让我们再来看一看未来的中国市场。尤其是这一次，中国政府提出的“互联网+”发展计划，这个革命性的概念跟服务外包发展密切相关。因此，在这个大环境下，我们整个服务外包产业规模有个非常大的增长。大家都记得刚刚过去“双十一”，仅阿里巴巴的成交金额就接近1000亿元。整个“双十一”期间，我们的快递创历史新高的达到4.7亿件。</p><br>
          <p class="ui-article-para">那么下个阶段，中国的发展方向是什么呢？我认为，下面的几个方面有着更大的发展潜力。</p><br>
          <p class="ui-article-para">首先，是云计算。第二是智慧城市。中国将在未来五到十年之内发展50到70个智慧城市。第三是“互联网+”将催生更多的大学生创业。第四是创新创业。</p><br>
          <p class="ui-article-para">“一带一路”战略提出，现在我们提到最多的就是工程，但其实，我们所有的互联网工程都和服务外包有关，而且服务外包都有很大的贡献。“一带一路”沿线沿路有65个国家，93个港口城市，需要我们跟印度、日本、欧洲、美国等国家和地区共同开辟第三方市场。这其中如果还有什么巨大机遇的话，那就是教育和人才。</p><br>
          <p class="ui-article-para">据我了解，无论是波音、IBM、戴尔，还是其他跨国公司，除了它2%的核心技术和电路自己做以外，其他98%的业务都是外包出去的，包括财务、人力资源管理等等都是外包。</p><br>
          <img class="ui-article-image" src="/Assets/images/default/news/20151214111819506.jpg">
          <p class="article-sub-title">中国服务外包最大短版是人才</p><br>
          <p class="ui-article-para">尽管我们看到这些潜力与机遇，但中国服务外包的短版是什么？有人说中国服务外包的短板是政策。有人说是地区发展不平衡，比如东部地区，像金华、杭州、上海等，要比中西部地区更了解服务外包一些。有人说是中国还不了解真正的国际市场。也有人告诉我，是大学生的劳动成本太高了。还有人告诉我，是外部市场不够，国内的产业市场比较大，但是“走出去”比较难。这些我都不同意。我个人认为中国发展服务外包的短板是人才。</p><br>
          <p class="ui-article-para">我做过统计，如果中国要在未来十年成为全球服务外包的第一大国的话，有两件事情必须马上入手。第一就是人才。我们跟印度、台湾地区以及荷兰等国相比，最关键的是高端人才的欠缺。并不是说我们像印度那样有大批的工人就能带来一些发展，我们要向硅谷、西雅图，这些地方的人才看齐。</p><br>
          <p class="ui-article-para">今年1-10月份，我国服务外包的规模是去年的一倍。这说明什么？说明对人才的要求越来越高，高端人才是我们占领全球服务外包非常重要的一部分。</p><br>
          <p class="ui-article-para">服务外包需要有更多的精通英语、日语、韩语以及小语种语言的人才。比如大连，当初是把大连外国语学院学日语和英语的分别调出来，进行培训。事实证明，我们虽然在日本取得了成功。但是我们在印度的项目，我们的英语产业就不行。因为时差的原因，所以交易衔接有问题。我个人还是认为，英语有更多的用处。</p><br>
          <p class="ui-article-para">当前，电子商务、服务外包都上升为国家战略，在对外贸易中，在我们的整个调整结构转型升级中，要推动互联网+，要推动跨境电商的发展，服务外包都是不可或缺的。</p><br>
          <p class="ui-article-para">我们应该和国外更多的大城市，以及包括我们今天到场的IBM等大型企业合作，加强人才培训。比如针对金华我们能不能在未来一年之内开设十个培训班。我们不仅是要做国内市场，还要“走出去”更好地了解国外市场，更好地走向发包国家，如美国、欧洲、日韩。</p><br>
          <p class="ui-article-para">今年我们服务外包第一大来源国是美国。1-10月份，我们承接美国的服务外包执行金额为111亿美元，同比增长18.1%；承接欧盟的服务外包执行金额68.9亿美元，同比增长12.8%。唯独有一个国家是下降了，那就是日本。所以我们要把培训人才作为打造战略的当务之急。</p><br>
          <p class="ui-article-para">还有，我们要对所有的服务外包提出一个具体的要求，就是能不能变成“绿色+”，所有服务都是绿色的。无论是商务工程、检验检疫，还是生物制药，都要绿色发展。如果这样，我们的服务外包将会有更好的作为。</p><br>
          <p class="ui-article-para">新西兰有一位非常重要的哲学家艾迪仑说过，未来的世界将是计算机玩家、企业家和智者的世界。时间已经验证了他的预言：计算机玩家的世界，会带来服务外包的发展。不过，我们也不能太要急。像茅山竹子一样，前五年生长得非常慢，但五年以后，雨季来临时每天可以生长3厘米，不到30天就可以长成高竹子。所以，今天在座的无论是公务员、企业家、学者，还是做服务外包的年轻大学生，我们都要顺应一个观点：服务外包只要找准了，没有人能打下来，除非你自己爬下来。</p><br>
        </article>
      </div>
    </section>
  </div>
</section>
