<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-panel">
      <header class="ui-panel-header">NEWS/新闻动态</header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item"><a href="/Statics/views/news/index.html">国信通新闻</a></li>
          <li class="ui-list-item active"><a href="/Statics/views/news/trade.html">行业新闻</a></li>
          <li class="ui-list-item"><a href="/Statics/views/news/help.html">派遣知识</a></li>
          <li class="ui-list-item"><a href="/Statics/views/news/policy.html">政策法规</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <section class="ui-panel">
      <header class="ui-panel-header fn-clear">
        公司新闻<span class="ui-more">您当前位置：<a href="/Statics/views/index/index.html">国信通</a> &gt;&gt;
        <a href="/Statics/views/news/index.html">新闻动态</a>&gt;&gt;
        <a href="/Statics/views/news/trade.html">行业新闻</a></span>
      </header>
      <div class="ui-panel-body">
        <article>
          <h2 class="ui-article-title">HR如何推动经营？</h2>
          <div class="ui-article-time">
            <small><span>2016-07-21</span>&emsp;来源：<span>互联网</span>&emsp;点击<span>6</span>次</small>
          </div>
          <p class="ui-article-title">人力资源管理者的作用</p><br>
          <p class="article-sub-title">人力资源管理者，究竟起到什么样的作用呢?</p><br>
          <p class="ui-article-para">有人说人力资源管理者是为了选用育留，为了支撑一线的业务，也有人说人力资源管理者是作为老板的放大镜，了解老板的意图，并且监督执行，还有人说人力资源管理者是基于自己的专业工具，让企业里面的人发挥更高的效率，那么这专业工具是什么？选用育留的工具？这个对不对呢?</p><br>
          <p class="ui-article-para">我今天讲的是人力资源管理，实际上是要把<strong>人力资源作为一门资源来经营，并且用经营去撬动财报的影响结果。</strong></p><br>
          <p class="ui-article-para">这样的想法不可谓不大胆，有些说出来管理者不愿意应承的，财务是财务的事，我还怎么绑定业务，绑定业务之后如何控制它。</p><br>
          <p class="ui-article-para">我接触到很多的HR，他们对量表和模型都很兴奋，说穆老师能不能把模型引进给我们，有的时候我们脑袋一拍做咨询的给人家画一个模型出来，前一秒我们想都没有想，还说得头头是道，这就是悲哀。因为我和你都没有一个标准，什么样的人力资源管理是好的人力资源管理。</p><br>
          <p class="ui-article-para"><strong>只讲工具不讲实效，远离经营部门对HR的生存是不利的，我们应该跳出管理思维回归经营思维。</strong></p><br>
          <p class="ui-article-para">人力资源管理这个部门在企业内部之所以存在，是老板需要它发挥实效，而这样一个实效呢，一定不是所有的专业工具就可以万事万能的。</p><br>
          <p class="ui-article-para">当我们在招聘模块，当我们在薪酬模块都做了这样的尝试之后，你就会觉得传统的人力资源工具已经支撑不住变化多端的现状。</p><br>
          <p class="ui-article-para">这个时候很多人就说，穆老师有没有工具？穆老师说没有工具，只有解决方案，如果<strong>如果人力资源长期用工具而不讲实效会越来越远离业务</strong>。不知道如何核定这个人才，凡是有对人家要人的需求有防御和抵抗的话，人家立刻就给你扣帽子，说你远离业务不懂实际，这就是悲哀。</p><br>
          <p class="ui-article-para"><strong>职能部门的存在一定是要以企业经营结果绑定的，衡量KPI或者MBO只是权宜之计，只有当HR敢于把自己的工作业绩的结果与财务指标这样实打实的指标相联系的时候，就具备了和老板的溢价权。</strong></p><br>
          <p class="ui-article-para">职能部门你可以想像成一个金字塔的组织结构来设计，职能部门的存在是为了专业分工，是为了便于管控一线业务部门，把人、财、质量、战略，甚至IT法务分成各种各样的专业线条，由职能部门进行统一管理，而业务部门受职能部门的管理，在规范的范畴内做一些确定性的事情，然后再发挥它的主观能动性去跑市场，这样的模式的存在，人力资源作为职能部门存在，它是不要求你经营结果绑定的，因为要求你做的事情，就是进行专业范畴的管理，而这个管理不可能产生经济层面的结果。</p><br>
          <p class="ui-article-para">随着业务的发展把很能干的人调到业务部门，甚至在职能部门尤其是在人力资源部做的不错的，人家会说：你能力这么强，做人力资源可惜了，去做业务去，实际上这就是人家亲切地对人力资源的一个地位定义，但是你试想一下：</p><br>
          <p class="ui-article-para">如果职能部门告诉老板：我管你人力资源，我能把它管出一个什么样的结果，给你交付一个什么样的财务数据，让你在经营层面里面，有相对其他企业更好的竞争优势，你觉得老板是否会动心？</p><br>
          <p class="ui-article-para"><strong>当HR敢于把自己的工作业绩的结果与财务指标这样实打实的指标相联系的时候，就具备了和老板的溢价权。</strong></p><br>
          <p class="ui-article-title">人力资源管理者的模式</p><br>
          <p class="ui-article-para">讲到这里面有人问了，为什么这你说个时候人力资源管理需要绑定考虑财务业绩的结果，需要做撬动经营，而我们以前没有做这样的尝试？最后几十年甚至上百年的时间里面，人力资源管理也一直生存的不错呢？</p><br>
          <p class="ui-article-para">管理学界里至今为止有三大范式，第一大范式叫<strong>福特制</strong>；第二范式叫<strong>丰田制；</strong>；第三大范式不知道是什么样的制，但是一定会有一个企业做出来，在这方面我比较看好<strong>海尔的模式</strong>。</p><br>
          <p class="article-sub-title">&bull;福特制</p><br>
          <p class="ui-article-para"><strong>人力资源的发展历程与商业模式的发展密切相关。在以福特为代表的大生产时代，人力资源的本质就是人事、招聘、培训、考核都是一系列标准化的操作。</strong></p><br>
          <p class="ui-article-para">在这样的模式下，人力资源管理做什么？用你的坑都挖好只需要在里面填萝卜就可以了。萝卜填什么样的？选合适的这个萝卜，往什么方向长那都是一定的，因为是标准化生产线的流水作业，而且对于生产链条或者营销侧，需求侧的考核也都是非常的简单，那么我就考核这个压货的这个货品量。</p><br>
          <p class="ui-article-para">这样人事就很简单了，做固定的这个岗位设置招聘，进行统一培训，培训一定是高度的标准化动作技能化的，然后在考核上指标也很简单也很到位，就是单一维度非常简单，我们叫人事管理。</p><br>
          <p class="article-sub-title">&bull;丰田制</p><br>
          <p class="ui-article-para"><strong>在深度分销成熟的以丰田制企业为代表的时代来临以后，人力资源管理因为整个链条变得更加复杂，更加灵活柔性而变得越来越重要，人力资源管理也因此在一段时间走上神坛。</strong></p><br>
          <p class="ui-article-para">到丰田制企业已经开始出现很大不同了，因为这时候已经做到了一种叫深度分销的模式，也就是说，你企业在需求侧那边和一级代理商二级代理商甚至三级代理商和终端的零售商已经形成一体化关系。</p><br>
          <p class="ui-article-para">出现了若干这样的形式我们的生产线变得越来越标准化，柔性化，这个时候我们每一个生产环节里面所起到的作用，就与传统的大生产时代完全不同了。很简单，因为这个时候用户已经不同了。在这个时候人力资源管理也变得不同，由人事管理变成人力管理，你就需要核定人力资源而不是人手、人在每个岗位它相应需要做的工作，叫岗位JD。</p><br>
          <p class="ui-article-para">相对传统人事的柔性，招到的人也不再是按岗选人，因为人呈现出各种多样的特质，这种多样的特质，要具体的去甄别它，去识别它。然后把它引到企业的生产链条上去。</p><br>
          <p class="article-sub-title">&bull;如今模式</p><br>
          <p class="ui-article-para"><strong>在今天云组织的时代，人力资源要有用户思维，我们的用户是老板，而老板眼中有三表，资产负债表，现金流量表和损益表。人力资源管理一系列的选用育留模块化的界限必须变成提供整体的解决方案，真正实现企业的效能提升。</strong></p><br>
          <p class="ui-article-para">在以前福特制的时候我们的评价方式很简单，那么在人事时代有没有建设好的动作标准有没有好的SOP，招人的即时率有多高，合格率有多高，在供应商那边，就看你做绩效考核有没有驱动它海量出货。</p><br>
          <p class="ui-article-para">另外在丰田制的时代，在人力资源管理的时代，那个时候就弄一些KPI多源的考核，明确人力管理是否做的好，培训体系是否完善，薪酬结构是否合理，招聘有没有抢到关键的人才，然后你的岗位JD描述是否足够的规范，然后供应商渠道维护如何，这些东西都可以判断人力资源管理对于企业的一个作用，而且有一套相对统一的标准，而且会看到各种各样的表格表单，考核体系，积分卡。</p><br>
          <p class="ui-article-title">人力资源管理者与效能管理</p><br>
          <p class="article-sub-title">这个时候就走向一个方向人力资源效能管理，效能这个词。</p><br>
          <p class="ui-article-para">现在我们谈的效能，是一个分式，分母是人或者数或者其他的成本，描述的这个指标，而在分子上面是业绩，而这个业绩是与分母那群人有关系的，也就是说它衡量的是一群人，发挥了多大程度上的经营绩效。</p><br>
          <p class="ui-article-para">其实呢，人力资源管理，你只要确保你对于人力资源效能方面的影响是正向的，那么把企业弄得再乱，老板也知道你做的是好事，你是让大家群龙共舞。反之你即使把企业的规范建立的再好，如果你的效能指标是逐渐下跌或者说持平不变的话证明人力资源管理者根本没有发挥任何的作用。</p><br>
          <p class="article-sub-title">我们提倡的人力资源管理去推动经营一定要锁定效能指标。</p><br>
          <p class="ui-article-para">你要记住人力资源管理，是这个时代的重器是最重要的生产要素，所有的资源流转都是以人为核心的，所以的事不行都是人不行，所以只要人可以，一定可以把资源盘活，如何促使人有最大的这个能力和意愿把事情干好，这个时候是人力资源发挥自己工具作用的时候。</p><br>
          <p class="ui-article-para">人力资源效能，当我们锁定它之后，我们就发现它是可以撬动的经营的最好杠杆。而<strong>人力资源管理它的一系列的选用育留都变成模块化的界限而变成整体解决方案，实现效能层面的提升</strong>。而效能层面的提升因为分子部分是财务绩效，所以说一定能对财务形成影响。</p><br>
          <p class="ui-article-para">这就是人力资源经营的一个关键。往后面说管理费用能不能下调财务费用能不能下调？财务费用下调可以吗？，问题比较间接但是我们也可以起作用，另外一个研发费用能不能下调？我们能不能和研发部门做一个激励机制，市场费用的发生是否可以下调吗？是否可以采取项目制的一个核定标准，以前我们真的没有想过，但是现在到我们想一想的时候了。</p><br>
          <p class="ui-article-para">当人力资源管理者，拿着财报，看着两眼昏花的时候就是我们被经营抛弃的时候我们选用育留并不值钱，这本身是工具而不是目的，但是各位一定要对自己充满信心，当<strong>掌握了选用育留的工具之后你就会发觉你对于人的生产要素如何释放这个生产力的，你是有最大的发言权。</strong>通过运用你的选用育留的工具最大程度让你有意愿有机会有能力干，就是发挥自己能量的空间。</p><br>
          <p class="ui-article-para">海尔、苏宁这样的企业他们的HR，他们的COE基本上已经空了，HR都变成BP下沉到业务部门去，释放他们做业绩的影响，在这个时候，相当于代表公司投资评估和投后管理的部门，非常有力量。</p><br>
          <p class="ui-article-para">其实呢人力资源管理者我们手握着杀器但是我们一直没有用好，因为我们太自恋了我们人力资源一定要清楚，做任何事情我们要有用户思维，我们的用户是老板，而老板眼中有三表，老板有资产负债表，现金流量表和损益表。</p><br>
        </article>
      </div>
    </section>
  </div>
</section>
