<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-panel">
      <header class="ui-panel-header">NEWS/新闻动态</header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item"><a href="/Statics/views/news/index.html">国信通新闻</a></li>
          <li class="ui-list-item"><a href="/Statics/views/news/trade.html">行业新闻</a></li>
          <li class="ui-list-item"><a href="/Statics/views/news/help.html">派遣知识</a></li>
          <li class="ui-list-item"><a href="/Statics/views/news/policy.html">政策法规</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <section class="ui-panel">
      <header class="ui-panel-header fn-clear">
        公司新闻<span class="ui-more">您当前位置：<a href="/Statics/views/index/index.html">国信通</a> &gt;&gt;
        <a href="/Statics/views/news/index.html">新闻动态</a>&gt;&gt;
        <a href="/Statics/views/news/trade.html">行业新闻</a></span>
      </header>
      <div class="ui-panel-body">
        <article>
          <h2 class="ui-article-title">社交网络时代的“众包式”招聘</h2>
          <div class="ui-article-time">
            <small><span>2016-09-07</span>&emsp;来源：<span>互联网</span>&emsp;点击<span>6</span>次</small>
          </div>
          <p class="ui-article-para">传统的招聘网络拥有海量的人才储备和职位发布信息，但是它只能进行信息的单向传播。对于求职者来说，简历投递之后只能被动地等待。同时，传统渠道很难找到适合中高端人才的职业平台。因此，中高端求职者极少通过传统渠道投递简历。在这种情况下，能够让求职者与企业互动的商务社交网络无疑成为招聘市场的新商业模式。</p>
          <br>
          <p class="article-sub-title">社交网络成为招聘新宠</p><br>
          <p class="ui-article-para">长期以来，网络招聘一直是企业招聘的首选。在国内，传统招聘网站一 直是企业主要的招聘渠道。企业在传统 的招聘渠道上付费，发放广告，然后收集求职者投递的简历。对于求职者来说，投递简历之后便只能被动地等待面试电话。在这种情况下，企业和求职者都只能处于“被动”的状态，两方都迫切需要直接进行互动交流，而社交网络所拥有的人际功能恰恰为企业和求职者提供了互动的平台。 </p>
          <br>
          <p class="ui-article-para">2002年，商务社交网站LinkedIn在美国诞生，主要建立平台让用户结识并维护人脉关系，同时提供招聘解决方案及客户信息服务。随着LinkedIn用户不断增多，它已经成为美国企业招聘的 主要渠道。根据LinkedIn的官方数据披露，世界500强公司都在使用LinkedIn进 行招聘，即100%的世界500强公司使用了社会化媒体招聘。2011年11月，美国求职招聘网站Jobvite发布的最新报告显示，89%的美国企业将使用社交网络进行招聘。其中，55%美国企业将增加社 交招聘预算；推荐、公司招聘网站和直接渠道将成为其他主要的招聘投资领域；只有16%的企业将增加招聘会的开支，三分之一计划减少招聘会、第三方 招聘者和猎头公司的开支；约有64%的企业计划将社交招聘渠道扩大到两个或两个以上；在计划增加招聘投入的企业中，95%正在使用或计划使用社交网络展开招聘。在中国，微博、搜索引擎正在成为各大公司招聘人才的新渠道。由此，社交网络成为了企业招聘的新宠。 </p>
          <br>
          <p class="ui-article-para">商务社交网络可以帮助用户拓展人脉关系，同时为企业提供中高端人才的招聘平台。这种模式充分利用了人脉资源，用较小的成本获得成倍的收益。 同时，由于被推荐人的可信度、经验、 能力和所应聘职位的匹配度较高，这大大提升了招聘的效率和质量。对于企业而言，商务社交网站的出现完全改变了传统的网络招聘方式，作为开放式的互动社区，它不但把人力资源从业者和求职人员从简历的海洋中解救出来，而且同时让双方都能得到更准确、全面的信息，解决了人力资源管理与求职者之间 单向沟通以及效率不足的问题，为供求双方深度交流架起桥梁。 </p>
          <br>
          <p class="ui-article-para">在招聘方面，商务社交网络的优势主要体现：首先，商务社交网络可以提供真实广泛的个人信息资源，其注册用户必须填写真实有效的个人信息。因此，企业可以充分掌握求职者的经历和工作等各方面资料；其次，强大的人脉 关系汇聚为招聘力量。商务社交网络可以帮助用户维系人脉圈子，在企业发布招聘信息后，粉丝以及人脉圈子成员可以不断转发或者转帖，同时把朋友和自己圈子里的好友推荐给人力资源部门， 可以充分利用人脉关系使招聘更顺利、 更高效地完成；再次，商务社交网络提 供了互动平台。这种平台将成为未来中高端人才的招聘市场中的主流途径；最后，企业通过付费可以使得商务社交网络更加准确地进行人才搜索推荐。</p>
          <br>
          <p class="ui-article-para">传统招聘形式受到巨大冲击社交网络的兴起使得招聘行业发生了巨大的变化，传统的招聘网络受到了巨大的冲击。</p><br>
          <p class="ui-article-para">通过人脉关系的建立，商务社交网络成为了企业招揽人才的利器。企业在招聘的过程中，面临的挑战主要是如何让更多人知晓公司发布招募信息以及在海量的简历中筛选出企业需要的人才。在传统的招聘模式下，企业需要花费大量的人力物力进行招聘。商务社交网络通过充分利用人脉资源，发动会员推荐人才，大大降低了企业招聘过程中的“筛选成本”。推荐的方式还可以帮助招聘者减少简历筛选和简化对应聘者进行背景调查的工作，这就大大提高了招聘的效率和质量。此外，商务社交网络的“互动”优势和基于关系网的深度数据挖掘能力能让招聘双方信息的匹配更为“精准”，在“伯乐”与“千里 马”之间建立联系，在一定程度上缓解招聘过程的信息不对称。</p>
          <br>
          <p class="ui-article-para">随着社交网络的兴起，一些企业的人力资源部门开始尝试通过商务社交网络招聘人才。面对商务社交网络的巨大冲击，如果传统网络招聘类企业能够把握住这个契机，适当调整业务的方向，不断进行变革，打破同质化发展的局限性，吸引持续性的用户，那么，传统招聘网络才可经受住严峻考验。</p>
          <br>
          <p class="article-sub-title">商务社交网站“水土不服”？</p><br>
          <p class="ui-article-para">相对于传统的招聘网站，商务社交网络招聘主要特点是信任传递和细分的用户群。由于可以通过人脉关系进行推荐，对于招聘者和求职者可以更容易检验核实真实信息。中国人讲究人情关系，企业对于熟人推荐的人才一般产生较高的信任度。相关统计表明，超过 60%的人力资源主管和求职者越来越以来人脉关系来寻找人才或者工作。而通过人脉关系进行求职招聘也是中高端人才寻求的主要途径，因为这类人才在传统的招聘网站很难找到合适的职位，因为他们对职位和企业的要求跟一般求职者不同。商务社交网站恰恰为给他们提供了一个直接与企业人力资源部门对接的平台，通过人脉关系能够让他们更准确找到位置。</p>
          <br>
          <p class="ui-article-para">商务社交网络在美国非常成功， 主要原因是美国的商务社交网络环境发达。但是，在中国，商务社交网络目前还处于早期发展阶段，这种模式与普通社交网络反差比较大。在中国没有形成大规模态势，发展空间还很大，需要良好的发展环境。除了商业环境，信任机 制也是商务社交网络发展不可或缺的因素。但是，中国社会普遍存在信任缺失。此外，对于商务社交网站而言，需要聚集相当的用户群，才能真正成为坐上招聘渠道的头把交椅。但是，这对中国商务社交网站而言仍然是一个巨大的挑战。</p>
          <br>
          <p class="ui-article-para">除此之外，文化差异也是商务社交网站在中国发展的巨大影响因素。</p><br>
          <p class="article-sub-title">技术是手段，用户体验是王道</p><br>
          <p class="ui-article-para">在社交网络盛行的今天，用户体验才是商务社交网络制胜的法宝。对于人力资源管理者来说，必须要有主动意识，将公司的形象、职位、薪酬待遇销售出去，来吸引人才。同时，依靠专业的机构，比如猎头公司，帮助企业进行雇主品牌的营销。未来，对于猎头公司而言，80%的低端中介式猎头公司将会走向消亡。在人才市场上，低端中介猎头不能为企业带来任何附加价值。企业需要猎头能够根据职位本身在企业组织架构中的位置进行相应的人才筛选，而低端猎头仅仅是一个传声筒，缺乏对企业和职位的详细了解，因此，低端中介式猎头的市场将逐渐萎缩。中介式猎头需要转变自身的经营方式和服务体系，将人才招聘过程从‘小作坊’的状态打造为‘工厂模式’，才能在人才招聘市场站立脚跟。此外，对于高端猎头，其人才招聘与筛选的方式主要针对企业高层管理者，需要更加精准细致，人才筛选要建立‘艺术品筛选’的模式。</p>
          <br>
          <p class="ui-article-para">在中国，人们已经习惯于免费使用网络服务，因此，商务社交网络的盈利模式也是其成功的关键因素。网络招聘的盈利模式不外乎向企业收费和向个人收费两种，而国内的 社交招聘最大的问题不在于盈利模式， 而在于盈利能力。结合国内用户的使用习惯，注重用户体验、满足用户需求是商务社交网络提高盈利能力的关键。</p>
          <br>
          <p class="article-sub-title">众包成为网络招聘创新模式 </p><br>
          <p class="ui-article-para">所谓众包，即互联网带来的新的生产组织形式，即企业利用互联网来将工作分配出去、发现创意或解决技术问题。通过互联网控制，这些组织可以利用志愿员工大军的创意和能力——这些志愿员工具备完成任务的技能，愿意利用业余时间工作，满足于对其服务收取 小额报酬，或者暂时并无报酬，仅仅满足于未来获得更多报酬的前景。对于软件业和服务业，这提供了一种组织劳动力的全新方式。 </p>
          <br>
          <p class="ui-article-para">在招聘过程中，部门之间的协同管理非常重要。所谓协同，即企业内部各个部门之间的协同。对于招聘部门， 需要协同面试官、部门经理、CEO、求职者、猎头公司、人才中介、人才派遣机构等。在这个过程中，企业可以通过软件将面试安排、邮件发送、在线确认、在线提交面试报告、在线测评等流程整合起来。这些程序非常繁琐，但是又非常重要。因此，软件可以大大节省人力资源部门的时间，提高工作效率。 在新媒体时代，人人希望更具创造性、更有才华，众包式招聘则让汇聚了每个人的聪明才智，基于众包的商务 社交网络将释放出巨大的能量。众包模式开创了企业人才招聘的新模式，企业需要抓住众包模式的新浪潮，才可以帮助企业不断吸引优秀人才，优化人才绩效发展人才潜力，降低人才管理合规风险。 </p>
          <br>
        </article>
      </div>
    </section>
  </div>
</section>
