@import "/Assets/css/default/modules/panel.css";
@import "/Assets/css/default/modules/slider.css";
@import "/Assets/css/default/modules/list.css";
@import "/Assets/css/default/modules/tabs.css";
@import "/Assets/css/default/modules/contentpage.css";
.ui-message tr td {
  min-height: 40px;
}
.ui-table-left {
  font-size: 14px;
  text-align: right;
  line-height: 40px;
}
.ui-table-right {
  padding-left: 30px;
}
.ui-table-right span {
  color: red;
}
.ui-message-submit {
  background: #046ab6;
  padding:.6em;
  margin: 10px auto 0;
  outline:none;
  display: block;
  color: #fff;
  border: 1px solid #2d78f4;
}
.ui-message-submit:hover{
  background: #1952a3;
  border: 1px solid #2d78f4;
}
.ui-qr-code{
  font-weight: bold;
  float: right;
  color: red;
}
