<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-panel">
      <header class="ui-panel-header">NEWS/新闻动态</header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item"><a href="/news">公司新闻</a></li>
          <li class="ui-list-item"><a href="/news/trade">行业新闻</a></li>
          <li class="ui-list-item"><a href="/news/help">派遣知识</a></li>
          <li class="ui-list-item active"><a href="/news/policy">政策法规</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <section class="ui-panel">
      <header class="ui-panel-header fn-clear">
        政策法规<span class="ui-more">您当前位置：<a href="/">国信通</a> &gt;&gt;
        <a href="/news">新闻动态</a>&gt;&gt;
        <a href="/news/trade">政策法规</a></span>
      </header>
      <div class="ui-panel-body">
        <article>
          <h2 class="ui-article-title">新劳动法出台的劳务派遣相关条文</h2>
          <div class="ui-article-time">
            <small><span>2012-11-01</span>&emsp;来源：<span>互联网</span>&emsp;点击<span>6</span>次</small>
          </div>
          <p class="article-sub-title">第五章&emsp;特别规定</p><br>
          <p class="ui-article-para">第二节　劳务派遣</p><br>
          <p class="ui-article-para">第五十七条　劳务派遣单位应当依照公司法的有关规定设立，注册资本不得少于五十万元。</p><br>
          <p class="ui-article-para">第五十八条　劳务派遣单位是本法所称用人单位，应当履行用人单位对劳动者的义务。劳务派遣单位与被派遣劳动者订立的劳动合同，除应当载明本法第十七条规定的事项外，还应当载明被派遣劳动者的用工单位以及派遣期限、工作岗位等情况。</p>
          <br>
          <p class="ui-article-para">劳务派遣单位应当与被派遣劳动者订立二年以上的固定期限劳动合同，按月支付劳动报酬；被派遣劳动者在无工作期间，劳务派遣单位应当按照所在地人民政府规定的最低工资标准，向其按月支付报酬。</p>
          <br>
          <p class="ui-article-para">第五十九条　劳务派遣单位派遣劳动者应当与接受以劳务派遣形式用工的单位（以下称用工单位）订立劳务派遣协议。劳务派遣协议应当约定派遣岗位和人员数量、派遣期限、劳动报酬和社会保险费的数额与支付方式以及违反协议的责任。</p>
          <br>
          <p class="ui-article-para">用工单位应当根据工作岗位的实际需要与劳务派遣单位确定派遣期限，不得将连续用工期限分割订立数个短期劳务派遣协议。</p><br>
          <p class="ui-article-para">第六十条　劳务派遣单位应当将劳务派遣协议的内容告知被派遣劳动者。</p><br>
          <p class="ui-article-para">劳务派遣单位不得克扣用工单位按照劳务派遣协议支付给被派遣劳动者的劳动报酬。</p><br>
          <p class="ui-article-para">劳务派遣单位和用工单位不得向被派遣劳动者收取费用。</p><br>
          <p class="ui-article-para">第六十一条　劳务派遣单位跨地区派遣劳动者的，被派遣劳动者享有的劳动报酬和劳动条件，按照用工单位所在地的标准执行。</p><br>
          <p class="ui-article-para">第六十二条　用工单位应当履行下列义务：</p><br>
          <p class="ui-article-para">（一）执行国家劳动标准，提供相应的劳动条件和劳动保护；</p><br>
          <p class="ui-article-para">（二）告知被派遣劳动者的工作要求和劳动报酬；</p><br>
          <p class="ui-article-para">（三）支付加班费、绩效奖金，提供与工作岗位相关的福利待遇；</p><br>
          <p class="ui-article-para">（四）对在岗被派遣劳动者进行工作岗位所必需的培训；</p><br>
          <p class="ui-article-para">（五）连续用工的，实行正常的工资调整机制。</p><br>
          <p class="ui-article-para">用工单位不得将被派遣劳动者再派遣到其他用人单位。</p><br>
          <p class="ui-article-para">第六十三条　被派遣劳动者享有与用工单位的劳动者同工同酬的权利。用工单位无同类岗位劳动者的，参照用工单位所在地相同或者相近岗位劳动者的劳动报酬确定。</p><br>
          <p class="ui-article-para">第六十四条　被派遣劳动者有权在劳务派遣单位或者用工单位依法参加或者组织工会，维护自身的合法权益。</p><br>
          <p class="ui-article-para">第六十五条　被派遣劳动者可以依照本法第三十六条、第三十八条的规定与劳务派遣单位解除劳动合同。</p><br>
          <p class="ui-article-para">被派遣劳动者有本法第三十九条和第四十条第一项、第二项规定情形的，用工单位可以将劳动者退回劳务派遣单位，劳务派遣单位依照本法有关规定，可以与劳动者解除劳动合同。</p>
          <br>
          <p class="ui-article-para">第六十六条　劳务派遣一般在临时性、辅助性或者替代性的工作岗位上实施。</p><br>
          <p class="ui-article-para">第六十七条　用人单位不得设立劳务派遣单位向本单位或者所属单位派遣劳动者。</p><br>
          <p class="article-sub-title">劳务派遣特别规定</p><br>
          <p class="ui-article-para">第二十八条　用人单位或者其所属单位出资或者合伙设立的劳务派遣单位，向本单位或者所属单位派遣劳动者的，属于劳动合同法第六十七条规定的不得设立的劳务派遣单位</p>
          <br>
          <p class="ui-article-para">第二十九条　用工单位应当履行劳动合同法第六十二条规定的义务，维护被派遣劳动者的合法权益。</p><br>
          <p class="ui-article-para">第三十条　劳务派遣单位不得以非全日制用工形式招用被派遣劳动者。</p><br>
          <p class="ui-article-para">第三十一条　劳务派遣单位或者被派遣劳动者依法解除、终止劳动合同的经济补偿，依照劳动合同法第四十六条、第四十七条的规定执行。</p><br>
          <p class="ui-article-para">第三十二条　劳务派遣单位违法解除或者终止被派遣劳动者的劳动合同的，依照劳动合同法第四十八条的规定执行。</p><br>
          <p class="ui-article-para">第三十三条　用人单位违反劳动合同法有关建立职工名册规定的，由劳动行政部门责令限期改正；逾期不改正的，由劳动行政部门处２０００元以上２万元以下的罚款。</p><br>
          <p class="ui-article-para">第三十四条　用人单位依照劳动合同法的规定应当向劳动者每月支付两倍的工资或者应当向劳动者支付赔偿金而未支付的，劳动行政部门应当责令用人单位支付。</p><br>
          <p class="ui-article-para">第三十五条　用工单位违反劳动合同法和本条例有关劳务派遣规定的，由劳动行政部门和其他有关主管部门责令改正；情节严重的，以每位被派遣劳动者１０００元以上５０００元以下的标准处以罚款；给被派遣劳动者造成损害的，劳务派遣单位和用工单位承担连带赔偿责任。 </p>
          <br>
        </article>
      </div>
    </section>
  </div>
</section>
