<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-panel">
      <header class="ui-panel-header">NEWS/新闻动态</header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item"><a href="/statics/apps/news/index.html">公司新闻</a></li>
          <li class="ui-list-item"><a href="/statics/apps/news/trade.html">行业新闻</a></li>
          <li class="ui-list-item"><a href="/statics/apps/news/help.html">派遣知识</a></li>
          <li class="ui-list-item active"><a href="/statics/apps/news/policy.html">政策法规</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <section class="ui-panel">
      <header class="ui-panel-header fn-clear">
        政策法规<span class="ui-more">您当前位置：<a href="/statics/apps/index/index.html">国信通</a> &gt;&gt;
        <a href="/statics/apps/news/index.html">新闻动态</a>&gt;&gt;
        <a href="/statics/apps/news/trade.html">政策法规</a></span>
      </header>
      <div class="ui-panel-body">
        <article>
          <h2 class="ui-article-title">关于进一步规范劳务派遣企业缴纳社会保险的意见</h2>
          <div class="ui-article-time">
            <small><span>2005-08-15</span>&emsp;来源：<span>互联网</span>&emsp;点击<span>6</span>次</small>
          </div>
          <p class="article-sub-title">关于进一步规范劳务派遣企业缴纳社会保险的意见</p><br>
          <p class="ui-article-para">为创建和谐稳定的社会环境，规范劳务派遣用工行为，依法维护劳务派遣人员的合法权益，促进用人单位依法用工，根据《劳动法》、《江苏省劳动合同条例》、《江苏省社会保险费征缴条例》以及相关法律法规规定，现就进一步规范劳务派遣企业缴纳社会保险等问题提出如下意见：</p>
          <br>
          <p class="ui-article-para">一、劳务派遣是指依法设立的劳务派遣企业和劳务派遣人员签订劳动合同后，依据与实际用人单位（实际用人单位含机关、事业、企业等单位）签订的劳务派遣协议，将劳务派遣人员派遣到实际用人单位工作的行为。劳务派遣企业必须依法设立，依法用工，按劳动保障法律法规的相关规定办理社会保险登记、签订劳动合同、支付劳动报酬、缴纳社会保险费，并承担相应的民事责任。</p>
          <br>
          <p class="ui-article-para">二、劳务派遣企业应当自工商登记注册、领取营业执照之日起三十日内，到社会保险经办机构申请办理社会保险登记；跨统筹地区劳务派遣企业从事劳务派遣活动的，可以委托实际用人单位所在统筹地区的劳务派遣企业，按规定办理社会保险登记，依法按劳务派遣人员的实际工资总额申报缴纳社会保险费。</p>
          <br>
          <p class="ui-article-para">三、劳务派遣企业招用劳务派遣人员，必须与其签订劳动合同，缴纳基本养老、基本医疗、失业、工伤、生育等社会保险费，从事劳务派遣活动必须与实际用人单位签订劳务派遣协议。凡实际用人单位接纳非法设立的劳务派遣企业派遣的劳务派遣人员或者接受没有签订劳动合同、没有办理社会保险缴费手续的劳务派遣人员，视为与劳务派遣人员建立事实劳动关系，由实际用人单位负责为劳动者缴纳社会保险费，并承担相关的义务和责任。</p>
          <br>
          <p class="ui-article-para">四、实际用人单位应当按照劳务派遣协议使用劳务派遣人员，实际用人单位未按照劳务派遣协议支付社会保险等费用的，或者应依法约定的义务而没有约定的，劳务派遣企业应承担对劳务派遣人员的相关责任。</p>
          <br>
          <p class="ui-article-para">劳务派遣人员不具备劳务派遣协议约定条件的，实际用人单位可以将其退回劳务派遣企业。</p><br>
          <p class="ui-article-para">五、劳务派遣企业与实际用人单位按月结算劳务收入，劳务收入包括劳务派遣人员的工资、福利待遇、社会保险费、劳务管理费等。结算时应使用地方税务机关监制的发票。结算的劳务收入应限定在实际劳务派遣人员的范围之内，严禁给其他单位或个人代开发票。用人单位对自行招聘录用的劳动者不得为规避参加社会保险等到劳务派遣企业开票。</p>
          <br>
          <p class="ui-article-para">六、劳动保障、工商、税务等部门应加强对劳务派遣企业和实际用人单位的监督检查，开展联合执法，坚决取缔无证非法经营的劳务派遣企业；严厉查处代开发票、虚开运输费等违法行为；对劳务派遣企业非法向劳务派遣人员收取押金、管理费、摊派劳务税费的，由劳动保障行政部门责令限期改正，并依据《江苏省劳动合同条例》相关规定给予处罚；对劳务派遣企业或者实际用人单位克扣、拖欠工资、不缴纳社会保险费的，由劳动保障行政部门责令在规定的时间内支付劳务派遣人员应得的劳动报酬、按规定缴纳社会保险费，并视情节轻重责令向劳务派遣人员支付赔偿金。</p>
          <br>
          <p class="ui-article-para">常州市劳动和社会保障局 常州市财政局 常州市国家税务局 常州市地方税务局 常州工商行政管理局</p><br>
          <strong>二&Omicron;&Omicron;五年八月十五日</strong>
        </article>
      </div>
    </section>
  </div>
</section>
