@import "/public/css/default/modules/panel.css";
@import "/public/css/default/modules/slider.css";
@import "/public/css/default/modules/list.css";
@import "/public/css/default/modules/tabs.css";
@import "/public/css/default/modules/contentpage.css";
.ui-main-right .ui-panel-body img {
  max-width: 835px;
}
.ui-message table {
  margin: 10px 0 0 15px;
}
.ui-message tr td {
  padding: 3px 0;
}
.ui-table-left {
  font-size: 14px;
  text-align: right;
  line-height: 40px;
}
.ui-table-right {
  padding-left: 10px;
}
.ui-table-right span {
  color: red;
}
.ui-captcha,
.ui-message-verification {
  vertical-align: middle;
}
.ui-message-submit {
  background: #046ab6;
  padding: .6em;
  margin: 10px 0;
  outline: none;
  display: block;
  color: #fff;
  border: 1px solid #2d78f4;
}
.ui-message-submit:hover {
  background: #1952a3;
  border: 1px solid #2d78f4;
}
