<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-panel">
      <header class="ui-panel-header">BUSINESS/主营业务</header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item active"><a href="/business">劳务派遣</a></li>
          <li class="ui-list-item"><a href="/business/proxy">人事代理</a></li>
          <li class="ui-list-item"><a href="/business/temporary">假期招聘</a></li>
          <li class="ui-list-item"><a href="/business/insurance">代缴社保</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <section class="ui-panel">
      <header class="ui-panel-header fn-clear">
        劳务派遣<span class="ui-more">您当前位置：<a href="/">国信通</a> &gt;&gt;
        <a href="/business">主营业务</a> &gt;&gt;
        <a href="/business">劳务派遣</a></span>
      </header>
      <div class="ui-panel-body">
        <article>
          <h2 class="ui-article-title">实施派遣的好处是什么？</h2>
          <p class="article-sub-title">一、对企业的好处</p><br>
          <p class="ui-article-para">1、节约了管理成本</p><br>
          <p class="ui-article-para">2、节省了人员的招募成本（时间成本和经济成本）</p><br>
          <p class="ui-article-para">3、规避了用工风险</p><br>
          <p class="ui-article-para">4、在资源稀缺的情况下保障了生产需要的用工</p><br>
          <p class="ui-article-para">5、提高了派遣员工的素质。</p><br>
          <p class="ui-article-para">总之通过派遣，企业可以把用人的风险和从烦琐的事务中脱离出来，把更多的精力放在企业的战略发展和产品的研发生产品质上，用同样的钱创造出不同的价值效果。</p><br>
          <p class="article-sub-title">二、对学校的好处</p><br>
          <p class="ui-article-para">1、节约了学校就业安置开发成本</p><br>
          <p class="ui-article-para">2、规避了学校就业的风险</p><br>
          <p class="ui-article-para">3、节约了就业成本，无中介费就业</p><br>
          <p class="ui-article-para">4、强化了学生的就业管理，提高了学生工作的稳定性</p><br>
          <p class="ui-article-para">5、保障了学生后期服务跟踪管理工作，再就业工作得到保障；</p><br>
          <p class="ui-article-para">6、半工半读实行了巧妙的结合，推动和提高了学校的招生。</p><br>
          <p class="article-sub-title">三、对员工的好处</p><br>
          <p class="ui-article-para">1、让您始终感觉到家的概念，不管你是上班和非上班，公司都将对你进行服务管理，不让您在外无家可归；</p><br>
          <p class="ui-article-para">2、不管是从那个派驻企业离职，只要您不和派遣公司脱离劳动用工关系，您将永远会得到你需要的工作，并且不支付任何的安置中介费；</p><br>
          <p class="ui-article-para">3、当派遣员工的权力得不到保障时，派遣公司就会帮助您进行协调，如果派遣公司侵犯个人的权益时，你可以申请派遣企业和公司进行协调；</p><br>
          <p class="ui-article-para">4、在工作之余，公司将会帮你进行职场教育和规划，让您边工作边成才。</p><br>
        </article>
      </div>
    </section>
  </div>
</section>
