<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-panel">
      <header class="ui-panel-header">BUSINESS/主营业务</header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item"><a href="/business">劳务派遣</a></li>
          <li class="ui-list-item active"><a href="/business/proxy">人事代理</a></li>
          <li class="ui-list-item"><a href="/business/outsource">生产外包</a></li>
          <li class="ui-list-item"><a href="/business/temporary">假期招聘</a></li>
          <li class="ui-list-item"><a href="/business/insurance">代缴社保</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <section class="ui-panel">
      <header class="ui-panel-header fn-clear">
        人事代理<span class="ui-more">您当前位置：<a href="/statics/apps/index/index.html">国信通</a> &gt;&gt;
        <a href="/business">主营业务</a> &gt;&gt;
        <a href="/business">人事代理</a></span>
      </header>
      <div class="ui-panel-body">
        <article>
          <p class="ui-article-title">概述</p><br>
          <p class="ui-article-para">即客户将某些非核心岗位的招聘、管理和替岗责任交给国信通来承担，按照岗位成本（除人工成本外，还应包含替岗成本等）支付费用。企业遇到临时性岗位增加或既有岗位严重人员不足时，国信通能够提供有百分百保障的岗位人员，并承担岗位人员流动带来的全部风险，企业采取岗位外包模式，能够满足弹性用工需求、解后顾之忧。</p>
          <br>
          <img class="ui-article-image" src="/public/images/default/business/proxy-01.png">
          <p class="ui-article-title">服务流程</p><br>
          <img class="ui-article-image" src="/public/images/default/business/proxy-02.png">
          <p class="ui-article-title">服务内容</p><br>
          <p class="article-sub-title">（1）招聘</p><br>
          <p class="ui-article-para">由专业招聘团队根据客户需求岗位进行人员筛选、面试、培训和储备，及时满足客户的用人需要</p><br>
          <p class="article-sub-title">（2）劳动关系管理</p><br>
          <p class="ui-article-para">1)员工签订劳动合同，负责办理员工合法用工的各种手续</p><br>
          <p class="ui-article-para">2)承担雇主责任</p><br>
          <p class="article-sub-title">（3）岗位管理</p><br>
          <p class="ui-article-para">1)对派遣员工进行上岗前的培训</p><br>
          <p class="ui-article-para">2)按照政府的规定为员工缴纳社会保险</p><br>
          <p class="ui-article-para">3)负责对员工进行考勤管理</p><br>
          <p class="ui-article-para">4)负责员工的工资发放和个人所得税的代扣代缴</p><br>
          <p class="ui-article-para">5)负责员工的绩效考核．并帮助员工改进绩效</p><br>
          <p class="ui-article-para">6)负责处理员工的各种突发事件以及劳务纠纷</p><br>
          <p class="ui-article-para">7)负责办理员工离职手续</p><br>
          <p class="ui-article-para">8)负责合同期内因员工离职产生的人员替换（核心）</p><br>
        </article>
      </div>
    </section>
  </div>
</section>
