<div class="ui-banner">
  <div class="ui-banner-center">
    <div class="ui-banner-center-offset">
      <ul class="ui-slider">
        <li><img src="/assets/images/default/banner/index/banner-1.png"/></li>
        <li><img src="/assets/images/default/banner/index/banner-2.jpg"/></li>
      </ul>
    </div>
  </div>
</div>
<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-panel">
      <header class="ui-panel-header">BUSINESS/主营业务</header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item"><a href="/statics/views/business/index.html">劳务派遣</a></li>
          <li class="ui-list-item"><a href="/statics/views/business/index.html">行业新闻</a></li>
          <li class="ui-list-item"><a href="/statics/views/business/index.html">政策法规</a></li>
          <li class="ui-list-item"><a href="/statics/views/business/index.html">派遣知识</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <section class="ui-panel">
      <header class="ui-panel-header">
        公司简介<span class="ui-more">您当前位置：<a href="/statics/views/index/index.html">国信通</a> >>
        <a href="/statics/views/business/index.html">主营业务</a></span>
      </header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item"><a href="/statics/views/business/index.html">劳务派遣</a><span>2016-08-16</span></li>
        </ul>
        <div class="ui-panel-plist">共 <span class="ui-list-record">2</span> 篇 页次：<span class="ui-curr-page">1</span>/<span class="ui-total-page">1</span> 页
          <span class="ui-page-num">20</span>篇/页 首页 上一页 下一页 尾页 转到第<input type="text" class="ui-page-index" title="输入页码">页
          <input type="button" class="ui-page-btn" value="跳转">
        </div>
      </div>
    </section>
  </div>
</section>
