<section class="ui-main">
  <div class="ui-main-left">
    <section class="ui-panel">
      <header class="ui-panel-header">BUSINESS/主营业务</header>
      <div class="ui-panel-body">
        <ul class="ui-list">
          <li class="ui-list-item"><a href="/Statics/views/business/index.html">劳务派遣</a></li>
          <li class="ui-list-item"><a href="/Statics/views/business/proxy.html">人事代理</a></li>
          <li class="ui-list-item"><a href="/Statics/views/business/temporary.html">假期招聘</a></li>
          <li class="ui-list-item active"><a href="/Statics/views/business/insurance.html">代缴社保</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ui-main-right">
    <section class="ui-panel">
      <header class="ui-panel-header fn-clear">
        劳务派遣<span class="ui-more">您当前位置：<a href="/Statics/views/index/index.html">国信通</a> &gt;&gt;
        <a href="/Statics/views/business/index.html">主营业务</a> &gt;&gt;
        <a href="/Statics/views/business/index.html">代缴社保</a></span>
      </header>
      <div class="ui-panel-body">
        <article>
          <p class="ui-article-para">劳动保障事务代理，是指劳动保障事务代理经办机构(以下简称代理方)，根据协议，接受用人单位或劳动者个人的委托(以下简称委托方)，在一定期限内为委托方代管劳动者个人档案、代办劳动人事、社会保险等劳动保障事务的行为。”所以说“代缴社保”是未来企业用工和劳动者个人享受社保的方式之一，这个行业在中国也逐渐走向成熟。</p><br>
          <p class="article-sub-title">社保代理的对象</p><br>
          <p class="ui-article-para">(一)境内的各类企业、个体工商户、外国或外省驻当地机构及与之建立劳动关系的劳动者；</p><br>
          <p class="ui-article-para">(二)机关、事业单位、社会团体、民办非企业单位及与之建立劳动关系的劳动者；</p><br>
          <p class="ui-article-para">(三)流动就业人员；</p><br>
          <p class="ui-article-para">(四)外国企业及华侨、台港澳企业常驻当地代表机构或分支机构及其雇员；</p><br>
          <p class="ui-article-para">(五)失业人员、自谋职业的劳动者及其他在职流动人员；</p><br>
          <p class="ui-article-para">(六)其他符合政策规定的单位和个人。</p><br>
          </article>
      </div>
    </section>
  </div>
</section>
